
@keyframes colors{
    0%{ 
        color: var(--dark-pink);
        -webkit-text-stroke: 1px var(--dark-pink);
    }
    50%{
        color: var(--dark-yellow);
        -webkit-text-stroke: 1px var(--dark-yellow);
    }
    100%{
        color: var(--dark-purple);
        -webkit-text-stroke: 1px var(--dark-purple);
    }
}
@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 101;
    }
    to{
        z-index: 101;
    }
}
@keyframes slide-right{
    50%{
        transform: translatex(10px);
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    } 
}
@keyframes type{
    /* efect digitation */
    from { width: 0; }
}
@keyframes blink{
    to{opacity: .0;}
}
@keyframes slide-down {
    0%{
        top: -100px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0,-60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes boxes-anim{
    15%{
        transform: translatey(0px);  
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-yellow) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    30%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-yellow) 52.36%, rgba(217, 217, 217, 0) 100%);
        mix-blend-mode: lighten;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    45%{
        transform: translatey(-25px);
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-purple) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));  
    }
    60%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-purple) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    75%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-pink) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    100%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-pink) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
        
    }
}
@keyframes neon{
    100%{text-shadow: 0 0 0.4em var(--light-yellow);}
}
