@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */


/* zera algumas coisas de css */
*{
    box-sizing: border-box;
}


/* variaveis das cores */
:root {
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}


/* imagem de fundo */
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
    /* ,url("../assets/fundo.png");
    background-blend-mode: multiply; */
    /* mix-blend-mode: multiply; */
}

main,footer{
    mix-blend-mode: multiply; 

}


/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */

.vignette{
    /* posição */
    margin-top: rem;
    position: absolute;
    display: flex;

    /* conversar com o professor sobre isso  */

    /* configuração */
    background-image: url(../assets/vinheta.png);
    height: 6935px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    height: 0rem;
}
#bottom-shadowtrack{
    mix-blend-mode: multiply;
    z-index: 100;
    display: flex;
    position: relative;
    left: 84rem;
width: 15%;
    top: 90rem;
}
#top-shadowplant{
    z-index: 100;
    display: flex;
    position: relative;
    left: 84rem;
    top: -30rem;
}
#top-shadowtrack{
    mix-blend-mode: multiply;
    width: 15%;

    display: flex;
    position: relative;
    left: 15rem;
}

/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */

/* div-pai da section header */
.header-pai {

    display: flex;
    height: 120px;
    align-items: center;
}

/* titulo da sub-pagina "web history */
#name-web{

    /* posicao */
    position: relative;
    top: 1rem;
    left: 470%;
    width: 150%;
    z-index: 101;

    /* configuração da letra */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    text-decoration: none;

    /* cor */
    color: var(--marromescuro3);
    -webkit-text-stroke: 1px var(--preto);
}
/* alteração quando passa o mouse */
#name-web:hover{
    /* posição */
    transform: scale(1.05);
}

/* div escrita home e svg */
.home-svg{
    display: flex;
    position: relative;
}

#home{

     /* posicao */
     position: relative;
     top: 1rem;
     width: 150%;
     z-index: 101;

     /* configuração da letra */
     text-align: center;
     font-family: 'Shadows Into Light', cursive;
     font-style: normal;
     font-weight: 400;
     font-size: 60px;
     line-height: 6px;
     text-decoration: none;

     /* cor */
     color: var(--amareloescuro);
     -webkit-text-stroke: 1px var(--amareloescuro);
}
/* alteração quando passa o mouse */
#home:hover{
    /* configuração */
    transform: scale(1.05);
}


/* retirar linha do link */
a{
    text-decoration: none;
    color: none;
}

/* configuração da div do svg */
.icon-home{
    /* posição */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
    z-index: 100;
}

/* configuração do svg*/
.icon-home svg{
    /* configuração */
    width: 50px;
    height: 50px;

    /* cor */
    color: var(--amareloescuro);
}

/* linhs que separa o header do main */
hr{
    /* posição */
    margin-top: 30px;

    /* cor*/
    border: 2px solid var(--marromescuro3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro3);
}

.main-pai{
    display: grid;
    box-sizing: border-box;
    justify-content:center ;
    justify-items: center;
    justify-items: center;
}
/* nome do subsite "BRASIL COLONIA" */
#title{
    /* posição */
    margin: 5rem;

    /* configuração da letra */
    z-index: 101;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 100px;
    text-align: center;

    /* cor */
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    border: px solid var(--preto);
    z-index: 101;

    /* para a animação */
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
/* falso cursor piscando */
#cursor{
    animation: blink 1s infinite;

}

/* animações */
@keyframes type{
    from { width: 0; }
  }

@keyframes blink{
    to{opacity: .0;}
}

.click-here{
    z-index: 100;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    top: 45rem;
    left: 13rem;
    transform: rotate(-10deg);
}
.click-here2{
    z-index: 100;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    top: 149rem;
    left: 10rem;
    transform: rotate(-10deg);
}
#text-click-here{
    position: relative;
    width: 200px;
    height: 44px;
    margin: 0;

font-family: 'Shadows Into Light';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
text-align: center;

/* marrom claro */

color: #E8DACF;

}
#img-click-here{
    position: relative;
    width: 124px;
    height: 76px;
}
/* bloco de introdução */
.introduction{
    /* posição */
    display: flex;
    position: relative;

    /* configuração da div */
    padding: 40px 40px 20px 40px;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--marromescuro2);
    border-radius: 43px;
    /* configuração das letras*/
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--marromclaro);


}
.circle{
    /* posição */
    box-sizing: border-box;
    position: absolute;
    display: flex;


    /* configuração */
    width: 21px;
    height: 21px;
    background: var(--amareloclaro);
    mix-blend-mode: hard-light;
    opacity: 0.9;
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{

    /* posição */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* posição */
    left: 77rem;
    top: 1.5rem;
}

.text1{
    /* configuração */
    width: 41rem;
    height: 15rem;
}
#text1{
    /* posição */
    margin-top: 3rem;
    margin-left: 3rem;

    /* cor */
}
#img1{
    /* posição    */
    position: relative;
    margin-left: 6rem;
    margin-top: 3rem;
}

.btn1{
    /* posição */
    position: relative;
    top: 29rem;
    left: -67rem;
}

/* escondendo checkbox */
.input-btn1{

    /* posição */
    position: absolute;
    top: 14px;
}
/* posicionando o label por cima */
.label-btn1{
    /* posição */
    z-index: 100;
    cursor: pointer;
    display: flex;
    position: relative;
}
/* transição do botao clicado e nao clicado */
.label-btn1::before,
.label-btn1::after {
    content: "";
}
/* botão antes de ser clicado (formato de triangulo) */
.label-btn1::before{
    /* posição */
    display:flex ;

    /* configuração */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--amareloescuro);
}
/* botão depois de ser clicado (formato de triangulo) */
.input-btn1:checked + .label-btn1::before{
    /* posição */
    margin-left: -15px;
    margin-top: 14px;

    /* configuração */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--amareloescuro);
}

/* linha na seleção (propósito: acessibilidade) */
.input-btn1:focus+.label-btn1::before{
    outline:1px dotted #CCC;
}

.text2{
    /* posição */
    position: relative;
    display: flex;

    /* configuração */
    justify-content: center;
    width: 80rem;
    text-align: center;

}
.line{
    /* posição */
    z-index: 100;
    position: relative;
    display: flex;

    /* configuração */
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    /* posição */
    z-index: 100;
    position: relative;
    top: -2rem;

    /* configuração */
    width: 61rem;
    border: 3px solid var(--preto);
    filter: blur(1px);
}
.div-hidden-text1{
    /* posição */
    display: none;

    /* configuração */
    width: 80rem;
    height: 15rem;
    justify-content: center;

}
.box-hidden-text1{
    /* configuração */

    position: relative;
    top: -20px;
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
@keyframes slide-down {
    0%{
        top: -30px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
#hidden-text1{
    /* configuração */
    padding: 0 20px;

    /* configuração letra */
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: var(--marromescuro);
}

.div-box-women{

    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    width: 80rem;
    justify-content: space-around;
    margin: 5rem;
}
.box-women{
    /* posição */
    display: flex;
    position: relative;

    /* configração */
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    height: 13.5rem;
    background: var(--marromescuro2);
    border: 1px solid  var(--preto);
    border-radius: 43px;
}
#title-women{
    /* configuração */
    z-index: 100;
    width: 190px;
    height: 66px;

    /* configuração das letras*/
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--marromclaro);
}

.women-native{

    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    padding: 40px;
    flex-wrap: wrap;
    width: 80rem;
    background: var(--marromescuro2);
    border: 1px solid var(--preto);
    border-radius: 43px;

    /* configuração das letras*/
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--marromclaro);
}

#title-women-native{
    /* configuração */
    width: 463.57px;
    height: 59px;

    /* configuração da letra */
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 42.1429px;
    line-height: 42px;
    text-align: center;
    color:var(--rosa);
}
#text3{
    /* posição */
    position: relative;
    left: 1rem;

    /* configuração */
    width: 1082px;
    height: 169px;

    /* configuração da letra */
}
.img-native{
    /* posição */
    display: flex;

    /* configuração */
    width: 80rem;
    justify-content: space-around;
}
#img2{
    /* configuração */
    width: 15rem;
    height: 15rem;
}
.subtitle-img-native{
    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    width: 80rem;
    justify-content: space-around;
}
#subtitle-native{
    /* configuração */
    width: 212px;
    height: 30px;

    /* configuração da letra */
    text-align: center;
}
#text4{
    /* configuração */
    width: 80rem;
    height: 109px;

    /* configuração da letra */
    text-align: center;}
#text5{
    /* posição */
    margin-left: 8rem;

    /* configuração */
    width: 1082px;
    height: 130px;

    /* configuração da letra */
}
.btn2{
    display: flex;
    position: relative;
    top: -3rem;
}
#btn2{
    /* posição */
    display: flex;
    position: relative;
    top: -0.5rem;
    left: 1rem;
}
.div-hidden-text2{
    /* posição */
    display: none;

    /* configuração */
    width: 80rem;
    height: 9rem;
    justify-content: center;

}

.box-hidden-text2{
    /* configuração */
    position: relative;
    top: -80px;
    width: 60rem;
    height: 10rem;
    background: var(--marromclaro);
    border: 2px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down2 0.5s ;

}
@keyframes slide-down2 {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
#hidden-text2{
    /* configuração da letra */
    color: var(--marromescuro);
}
#text5{
    /* posição */
    margin-left: 0;

    /* configuração */
    width: 80rem;
    height: 222px;

    /* configuração da letra */
    text-align: center;

}
.women-black{

    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    margin: 5rem;
    padding: 40px;
    flex-wrap: wrap;
    width: 80rem;
    background: var(--marromescuro2);
    border: 1px solid var(--preto);
    border-radius: 43px;

    /* configuração das letras*/
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--marromclaro);
}
#title-women-black{
    /* configuração */
    width: 600px;
    height: 59px;

    /* configuração da letra */
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 42.1429px;
    line-height: 42px;
    text-align: center;
    color:var(--amareloclaro);
}
#text6{
    padding: 10px;
    height: 169px;
}
#text7{
    padding: 10px;
    height: 111px;
    text-align: center;

}
#text8{
    width: 686px;
    height: 205px;

}
#text9{

    width: 677px;
    height: 205px;
    text-align: right;

}
#text10{
    padding: 10px;
    height: 138px;
    text-align: center;


}
.women-white{
    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    padding: 40px;

    flex-wrap: wrap;
    width: 80rem;
    background: var(--marromescuro2);
    border: 1px solid var(--preto);
    border-radius: 43px;

    /* configuração das letras*/
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--marromclaro);

}
#title-women-white{
    width: 409px;
    height: 46px;

    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 42.1429px;
    line-height: 42px;
    text-align: center;

    color: var(--roxoclaro);
}
#text11{
    height: 104px;
    text-align: center;
}
#text12{
    height: 198px;
}
.img-white{
    /* posição */
    display: flex;

    /* configuração */
    width: 80rem;
    justify-content: space-around;
}
#img5{
    /* configuração */
    width: 15rem;
    height: 15rem;
}
.subtitle-img-white{
    /* posição */
    display: flex;
    position: relative;

    /* configuração */
    width: 80rem;
    justify-content: space-around;
}
#subtitle-white{
    /* configuração */
    width: 212px;
    height: 30px;

    /* configuração da letra */
    text-align: center;
}

.btn3{
    display: flex;
    position: relative;
    top: -2rem;
}
#btn3{
    /* posição */
    display: flex;
    position: relative;
    top: -0.5rem;
    left: 1rem;
}
.div-hidden-text3{
    /* posição */
    display: none;

    /* configuração */
    width: 80rem;
    height: 15rem;
    justify-content: center;

}
.box-hidden-text3{
    /* configuração */
    justify-content: center;
    position: relative;
    top: -80px;
    width: 60rem;
    height: 11rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down2 0.5s;

}
#hidden-text3{
    /* configuração */
    padding: 0 20px;

    /* configuração letra */
    color: var(--marromescuro);
}

.women-especific{
     /* posição */
     display: flex;
     position: relative;

     /* configuração */
     margin: 5rem;
     padding: 40px;
     flex-wrap: wrap;
     width: 80rem;
     background: var(--marromescuro2);
     border: 1px solid var(--preto);
     border-radius: 43px;

     /* configuração das letras*/
     font-family: 'Habibi';
     font-style: normal;
     font-weight: 400;
     font-size: 25px;
     line-height: 31px;
     color: var(--marromclaro);
}

#title-women-especific{
    display: flex;
    position: relative;
    width: 80rem;
    height: 42px;
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 42.1429px;
    line-height: 42px;
    text-align: center;
    color: var(--amareloclaro);

}


.btn4{
    z-index: 100;
    height: 0;
    width: 80rem;
    top: 10rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}
#btn4-5{
    z-index: 100;

    /* posição */
    display:flex ;
    position: relative;
    /* configuração */
    width: 0;
    height: 0;
    background-color: transparent ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid var(--amareloescuro);
}
#btn4{
    z-index: 100;

    /* posição */
    display:flex ;
    position: relative;

    /* configuração */
    width: 0;
    height: 0;
    background-color: transparent; ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px transparent;
    border-right: 25px solid var(--amareloescuro);
}
#woman1{
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
    position: relative;

}
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
    width: 80rem;
    flex-wrap: wrap;
    display: none;
    position: relative;
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}

.img-woman1{
    display: flex;
    position: relative;
}
#img6{
    display: flex;
    position: relative;
    width: 80%;
    height: 80%;
    top: 3rem;
    left: 6rem;
}


#subtitle-woman1{
    display: flex;
    position: relative;
    display: flex;
    padding-left: 14rem;

    width: 80rem;
    font-size: 20px;
    text-align: center;

}
#title-woman1{
    display: flex;
    position: relative;
    display: flex;

    margin-top: 3rem;
    left: 4.5rem;


    width: 550px;
    height: 38px;

    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
    color: var(--rosa);

}
#text-woman1{
    margin-top: 7.5rem;
    margin-left: -30rem;
    width: 550px;
    height: 227px;


}











