@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */

*{
    box-sizing: border-box;
}
:root {
    --branco2:#ffffff ;
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --roxoclaro2: #AC92BE;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
}
main,footer{
    mix-blend-mode: multiply; 

}
/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    /* position */
    position: absolute;
    /* config */
    background-image: url(../assets/vinheta.png);
    height: 6935px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    /* config */
    height: 0rem;
    mix-blend-mode: multiply;
}
#bottom-shadowtrack{
    /* position */
    position: relative;
    left: 81rem;
    top: 90rem;
    /* config */
    width: 15%;
}
#top-shadowplant{
    /* position */
    position: relative;
    left: 82rem;
    /* config */
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#mid-shadowplant{
    /* position */
    display: flex;
    position: relative;
    left: -3rem;
    top: 120rem;
    /* config */
    opacity: 0.6;
    width: 40%;
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#top-shadowtrack{
    /* position */
    position: relative;
    left: 15rem;
    /* config */
    width: 15%;
}
/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */
header{
    background: rgba(72, 51, 34, 0.3);
    box-shadow: 0px 2px 20px #483322;

}
.header-div{
    /* position */
    display: flex;
    /* config */
    height: 80px;
    align-items: center;
}
#name-web{

    /* "web history */
    /* position */
    position: relative;
    width: 150%;
    top: 0.5rem;
    left: 85rem;
    z-index: 100;
    transition: 0.5s;
    /* letter config */
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    color: var(--marromintermediario);
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#name-web:hover{
    /* animation cursor*/
    /* config */
    transform: scale(1.1);
}
.home-svg{
    /* "home" + svg */
    /* position */
    position: relative;
    top: -0.5rem;
    left: 9.5rem;
    display: flex;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}
#home{
    /* position */
    position: relative;
    top: 1rem;
    width: 150%;
    transition: 0.5s;

    /* letter config */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
}
#home:hover{
    /* animation cursor */
    /* config */
    transform: scale(1.05);
}
a{
    /* config link */
    text-decoration: none;
}
.icon-home{
    /* div-svg */
    /* position */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}
.icon-home svg{
    /* config*/
    width: 50px;
    height: 50px;
    color: var(--amareloescuro);
}
hr{
    /* line to separate*/
    /* position */
    margin-top: 30px;
    border: 2px solid var(--marromescuro3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro3);
}

.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 250rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
#text-click-here{
    /* "clique para ler mais" */
    /* config */
    width: 200px;
    height: 44px;
    margin: 0;
    font-family: 'Shadows Into Light';
    font-size: 25px;
    text-align: center;
    color: var(--marromclaro);
    text-shadow: 0.1em 0.1em 0.2em black;
}
#img-click-here{
    /* position */
    margin-top: -2rem;
    /* config */
    width: 124px;
    height: 76px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

    animation: slide-right 3s ease-in-out infinite alternate;
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.main-div{
    /* config */
    display: grid;
    justify-items: center;
}
#title{
    /* position */
    margin: 5rem 5rem 0 5rem;
    /*letter config*/
    font-family: 'Special Elite', cursive;
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
#title2{
    /* position */
    position: relative;
    top:-2rem;
    /* letter config*/
    z-index: 101;
    font-family: 'Special Elite', cursive;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
    /* for animation */
    animation: fade 2s ease-in-out;
}
#cursor{
    animation: blink 1s infinite;
}
.container{
    /* position */
    display: flex;
    position: relative;
    /* div config */
    padding: 50px 70px 60px 60px;
    margin: 2.5rem;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--marromescuro2);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    /* letter config*/
    font-family: 'Habibi';
    font-size: 25px;
    line-height: 31px;
    color: var(--branco2);
}
.circle{
    /* position */
    position: absolute;
    /* config */
    width: 21px;
    height: 21px;
    background: var(--amareloclaro);
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    /* position */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* position */
    left: 77rem;
    top: 1.5rem;
}
#title-box{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 80rem;
    height: 72px;
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: var(--amareloclaro);
}
.text{
    margin: 30px;
}
#text-educ1,#text-educ3,
#text-policy1,#text-midia1,#text-midia2{
    text-align: center;
}
.img-educ{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
}
#img1{
    /* config */
    width: 20rem;
    height: 20rem;
}
.subtitle-educ{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
    /* letter config */
    font-size: 20px;
}
.img-policy{
    /* config */
    display: flex;
    justify-content: space-around;
    width: 80rem;
}
#img2{
    /* config */
    width: 20rem;
    height: 20rem;
}
.subtitle-policy{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
    /* letter config */
    font-size: 20px;
}
.img-midia{
    /* config */
    flex-wrap: wrap;
    display: flex;
    width: 80rem;
    justify-content: space-around; 
    align-items: center;
}
.box-midia1{
    flex-flow: column;
    display: flex;
    align-items: center;    
}
#img3{
    /* config */
    width: 18rem;
    height: 22rem;
    padding: 1rem;
}
#subtitle-midia{
    /* config */
    width: 245px;
    height: 159px;
    text-align: center;
}
.btn-midia{
    /* position */
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.label-btn{
    /* position */
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.label-btn:hover{
    transform: scale(1.1);
}
.label-btn{
    /* moving the label for the top */
    /* position */
    cursor: pointer;
    display: flex;
    position: relative;
}
.label-btn::before,
.label-btn::after {
    content: "";
}
.label-btn::before{
    /* button before being checked (triangulo shape) */
    /* position */
    display:flex ;
    /* config */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--amareloescuro);
}
.input-btn:checked + .label-btn::before{
    /* button after being checked (triangulo shape) */
    /* position */
    margin-left: -15px;
    margin-top: 14px;
    /* config */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--amareloescuro);
}
.input-btn:focus+.label-btn::before{
    /* line in select (for accessibility) */
    outline:1px dotted #CCC;
}
.line{
    /* position */
    z-index: 100;
    display: flex;
    /* config */
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    /* position */
    z-index: 100;
    /* config */
    width: 61rem;
    border: 3px solid var(--preto);
    filter: blur(1px);
}
.nav-hidden-midia{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;

}
.box-hidden-midia{
    /* position */
    position: relative;
    top: -80px;
    /* config */
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
#hidden-text1{
    /* config */
    padding: 0 20px;
    /*  letter config */
    font-family: 'Habibi';
    font-size: 23px;
    line-height: 29px;
    color: var(--marromescuro);
}
.btn-especific{
    /* position */
    z-index: 100;
    top: 18rem;
    display: flex;
    position: relative;
    /* config */
    height: 0;
    width: 80rem;
    justify-content: space-between;
}
#btn-right{
    /* config */
    width: 0;
    height: 0;
    cursor: pointer;

    background-color: transparent ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid var(--amareloclaro);
    transition-duration: 0.5s;
}
#btn-left{
    /* config */
    width: 0;
    height: 0;
    cursor: pointer;
    background-color: transparent; ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px transparent;
    border-right: 25px solid var(--amareloclaro);
    transition-duration: 0.5s;
}
#btn-right:hover,#btn-left:hover{
    transform: scale(0.9);
}
#btn-right:hover{
    border-left: 25px solid var(--amareloescuro);
}
#btn-left:hover{
    border-right: 25px solid var(--amareloescuro);
}
.woman{
    margin: 80px;
}
#woman1{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
}
#woman2,#woman3,#woman4,#woman5{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}
#img-woman1,#img-woman2,
#img-woman3,#img-woman4,
#img-woman5{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 22.5rem;
    height: 22.5rem;
    margin: 30px;
    
}
#subtitle-woman{
    /* position */
    position: relative;
    padding-left: 11rem;
    top: -3rem;
    /* config */
    font-size: 20px;
    text-align: center;
}
.title-div{
    /* topo | direita | inferior | esquerda */
    width: 32rem;
    margin: 15px 30px 30px 20px;
    text-align: center; 
}
#title-woman{
    /* config */
    height: 20px;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--rosa);
}
#title-woman2{
    position: relative;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    color: var(--rosa);
}
#text-woman{
    /* position */
    /* config */
    width: 32rem;
    height: 227px;
}
@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 101;

    }
    to{
        z-index: 101;

    }
}
@keyframes slide-right{
    50%{
        transform: translatex(10px);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    
}
@keyframes type{
    from { width: 0; }
  }

@keyframes blink{
    to{opacity: .0;}
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}
@keyframes slide-down {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
