/* ------------------------------------------------------ */
/* CLICK HERE*/
/* ------------------------------------------------------ */
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 250rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* EDUC */
/* ------------------------------------------------------ */
#text-educ1,#text-educ3{
    text-align: center;
}
/* ------------------------------------------------------ */
/* POLICY */
/* ------------------------------------------------------ */
#text-policy1{
    text-align: center;
}
/* ------------------------------------------------------ */
/* MIDIA */
/* ------------------------------------------------------ */
#text-midia1,#text-midia2{
    text-align: center;
}
.box-img-midia{
    /* config */
    flex-wrap: wrap;
    display: flex;
    width: 80rem;
    justify-content: space-around; 
    align-items: center;
}
.box-midia{
    flex-flow: column;
    display: flex;
    align-items: center;    
}
#img-midia{
    /* config */
    width: 18rem;
    height: 22rem;
    padding: 1rem;
    border-radius: 25px;
}
#subtitle-midia{
    /* config */
    width: 245px;
    height: 159px;
    text-align: center;
}
.btn-midia{
    /* position */
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.label-btn{
    /* position */
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.nav-hidden-midia{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
/* ------------------------------------------------------ */
/* ESPECIFIC*/
/* ------------------------------------------------------ */
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}