@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');
/* font-family: 'Shadows Into Light', cursive; */


*{
    /* zera algumas coisas de css */
    box-sizing: border-box;
}
:root {
    /* variaveis das cores */
    --branco2:#ffffff ;
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
}
main,footer{
    mix-blend-mode: multiply; 
}

/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */

.vignette{
    /* position */
    position: absolute;
    display: flex;
    /* config */
    background-image: url(../assets/vinheta.png);
    height: 7100px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    /* config */
    height: 0;
    mix-blend-mode: multiply;
}
#top-shadowtrack{
    /* position */
    display: flex;
    position: relative;
    left: 15rem;
    /* config */
    mix-blend-mode: multiply;
    width: 15%;
}
#bottom-shadowtrack{
    /* position*/
    display: flex;
    position: relative;
    z-index: 100;
    left: 84rem;
    top: 90rem;
    /* config */
    width: 15%;
}
#top-shadowplant{
    z-index: 100;
    display: flex;
    position: relative;
    left: 82rem;
    animation: moviment-plant 5s ease-in-out infinite alternate;
}
#mid-shadowplant{
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    left: -3rem;
    top: 120rem;

    /* config */
    opacity: 0.6;
    width: 40%;
    animation: moviment-plant 8s ease-in-out infinite alternate;
}


/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */

.header-pai {
    /* position */
    display: flex;
    /* config */
    height: 120px;
    align-items: center;
}
#name-web{
    /* "web history" */
    /* position */
    position: relative;
    top: 1rem;
    left: 470%;
    width: 150%;
    z-index: 100;
    /* letter config */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    color: var(--marromescuro3);
    -webkit-text-stroke: 1px var(--preto);
}
#name-web:hover{
    /* animation cursor*/
    /* config */
    transform: scale(1.1);
}
.home-svg{
    /* "home" + svg */
    /* position */
    display: flex;
    position: relative;
}
#home{
    /* position */
    position: relative;
    top: 1rem;
    width: 150%;
    /* letter config */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
}
#home:hover{
    /* animation cursor */
    /* config */
    transform: scale(1.05);
}
a{
    /* config link */
    text-decoration: none;
}
.icon-home{
    /* div-svg */
    /* position */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}
.icon-home svg{
    /* config*/
    width: 50px;
    height: 50px;
    color: var(--amareloescuro);
}
hr{
    /* line to separate*/
    /* position */
    margin-top: 30px;
    border: 2px solid var(--marromescuro3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro3);
}
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 51rem;
    left: 13rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
#text-click-here{
    /* "clique para ler mais" */
    /* config */
    width: 200px;
    height: 44px;
    margin: 0;
    font-family: 'Shadows Into Light';
    font-size: 25px;
    text-align: center;
    color: var(--marromclaro);
}
#img-click-here{
    /* position */
    margin-top: -2rem;
    /* config */
    width: 124px;
    height: 76px;
    animation: slide-right 3s ease-in-out infinite alternate;
}
@keyframes slide-right{
    50%{
        transform: translatex(10px);
    }
}

/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */

.main-father{
    /* position */
    display: grid;
    /* config */
    justify-items: center;
}
#title{
    /* "BRASIL COLONIA" */
    /* position */
    margin: 5rem 5rem 0 5rem;
    /* letter config*/
    font-family: 'Special Elite';
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    border: px solid var(--preto);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
#cursor{
    /* cursor the end "|" */
    animation: blink 1s infinite;
}
#title2{
    /* "(1500 - 1822)" */
    /* position */
    position: relative;
    top:-2rem;
    /* letter config */
    text-align: center;
    font-family: 'Special Elite';
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: fade 2s ease-in-out;
}
.introduction,.women-native,
.women-black,
.women-white,
.women-especific{
    /* containers */
    /* position */
    display: flex;
    /* config */
    margin: 3rem;
    padding: 40px;
    flex-wrap: wrap;
    width: 80rem;
    background: var(--marromescuro2);
    border: 1px solid var(--preto);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    /* letter config*/
    font-family: 'Habibi';
    font-size: 25px;
    line-height: 31px;
    color: var(--branco2);
}
.circle{
    /* circle in top*/
    /* position */
    position: absolute;
    display: flex;
    /* config */
    width: 21px;
    height: 21px;
    background: var(--amareloclaro);
    mix-blend-mode: hard-light;
    opacity: 0.9;
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    /* position */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* position */
    left: 77rem;
    top: 1.5rem;
}
.text1{
    /* config*/
    width: 41rem;
    height: 15rem;
}
#text1{
    /* position */
    margin-top: 3rem;
    margin-left: 3rem;
}
#img1{
    /* position */
    margin-left: 6rem;
    margin-top: 3rem;
}
.btn1{
    /* button  */
    /* position */
    position: relative;
    top: 29rem;
    left: -67rem;
}
.label-btn1:hover{
    transform: scale(1.1);
}
.input-btn1{
    /* hidden checkbox */
    /* position */
    position: absolute;
    top: 14px;
}
.label-btn1{
    /* moving the label for the top */
    /* position */
    z-index: 100;
    cursor: pointer;
    display: flex;
    position: relative;
    transition-duration: 0.5s;
}
.label-btn1::before,
.label-btn1::after {
    content: "";
}
.label-btn1::before{
    /* button before being checked (triangulo shape) */
    /* position */
    display:flex;
    /* config */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--amareloescuro);
}
.input-btn1:checked + .label-btn1::before{
    /* button after being checked (triangulo shape) */
    /* position */
    margin-left: -15px;
    margin-top: 14px;
    /* config */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--amareloescuro);
}
.input-btn1:focus+.label-btn1::before{
/* line in select (for accessibility) */
    outline:1px dotted #CCC;
}
.text2{
    /* posiçtion */
    position: relative;
    display: flex;
    /* config */
    justify-content: center;
    width: 80rem;
    text-align: center;
}
.line{
    /* position */
    z-index: 100;
    /* config */
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    /* position */
    z-index: 100;
    position: relative;
    top: -2rem;
    /* config */
    width: 61rem;
    border: 3px solid var(--preto);
    filter: blur(1px);
}
.div-hidden-text1{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
.box-hidden-text1{
    /* config */
    position: relative;
    top: -20px;
    /* config */
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
#hidden-text1{
    /* config */
    padding: 0 20px;
    /* letter config  */
    font-size: 23px;
    line-height: 29px;
    color: var(--marromescuro);
}
.div-box-women{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
    margin: 3rem;
}
.box-women{
    /* position */
    display: flex;
    /* config */
    transition-duration: 0.5s;
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    height: 13.5rem;
    background: var(--marromescuro2);
    border: 1px solid  var(--preto);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
}
.box-women:hover{
    transform: scale(1.1);
}
#title-women{
    /* config */
    width: 190px;
    height: 120px;
    /* letter config */
    font-family: 'Special Elite';
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--amareloclaro);
}
#title-women-native,
#title-women-black,
#title-women-white,
#title-women-especific{
    /* config */
    width: 80rem;
    height: 59px;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 42.1429px;
    line-height: 42px;
    text-align: center;
    color:var(--amareloclaro);
}
#text3,#text6{
    /* config */
    margin: 20px;
}

.img-native{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
}
#img2{
    /* config */
    width: 15rem;
    height: 15rem;
}
.subtitle-img-native{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
}
#subtitle-native{
    /* config */
    width: 212px;
    height: 30px;
    /* letter config  */
    text-align: center;
}
#text4{
    /* config */
    width: 80rem;
    text-align: center;
    margin: 20px;
}
.btn2{
    /* position */
    display: flex;
    position: relative;
    top: -3rem;
}
#btn2{
    /* position */
    display: flex;
    position: relative;
    top: -0.4rem;
    left: 1rem;
}
.div-hidden-text2{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 9rem;
    justify-content: center;
}
.box-hidden-text2{
    /* position */
    position: relative;
    top: -80px;
    /* config */
    width: 60rem;
    height: 10rem;
    background: var(--marromclaro);
    border: 2px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down2 0.5s ;
    /* letter config */
    color: var(--marromescuro);

}
#text5{
    /* position */
    height: 150px;
    text-align: center;
    margin: 20px;
}
/* blackwoman */

#text7,#text11{
    /* config */
    text-align: center;
    margin: 20px;
}
#text8{
    /* config */
    margin: 20px;
    width: 700px;
    height: 205px;
    padding: 60px 0 0 0;
}
.img3,.img4{
    margin: 20px;
}
#text9{
    /* config */
    margin: 20px;
    width: 677px;
    padding: 60px 0 0 0;
    text-align: right;
}
#text10{
    /* config */
    margin: 40px;
    text-align: center;
}

#text12,#text13{
        /* config */
    margin: 20px;
    height: 180px;
}
.img-white{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
}
#img5{
    /* config */
    width: 15rem;
    height: 15rem;
}
.subtitle-img-white{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 80rem;
    justify-content: space-around;
}
#subtitle-white{
    /* config */
    width: 212px;
    height: 30px;
    text-align: center;
}
.btn3{
    /* position */
    display: flex;
    position: relative;
    top: -2rem;
}
#btn3{
    /* position */
    display: flex;
    position: relative;
    top: -0.5rem;
    left: 1rem;
}
.div-hidden-text3{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
.box-hidden-text3{
    /* position */
    position: relative;
    top: -80px;
    /* config */
    justify-content: center;
    width: 60rem;
    height: 11rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down2 0.5s;
}
#hidden-text3{
    /* config */
    padding: 0 20px;
    /* letter config */
    color: var(--marromescuro);
}
.btn4{
    /* position */
    display: flex;
    position: relative;
    top: 10rem;
    z-index: 100;
    /* config */
    height: 0;
    width: 80rem;
    justify-content: space-between;
}
#btn4:hover,#btn4-5:hover{
    transform: scale(1.1);
}
#btn4-5{
    /* config */
    width: 0;
    height: 0;
    background-color: transparent ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid var(--roxoescuro);
    cursor: pointer;
    transition-duration: 0.5s;
}
#btn4{
    /* config */
    width: 0;
    height: 0;
    background-color: transparent; ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px transparent;
    border-right: 25px solid var(--roxoescuro);
    cursor: pointer;
    transition-duration: 0.5s;


}
#woman1{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
}
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}
#img6{
    /* position */
    display: flex;
    position: relative;
    top: 3rem;
    left: 6rem;
    /* config */
    width: 80%;
    height: 80%;
    
}
#subtitle-woman1{
    /* position */
    display: flex;
    padding-left: 14rem;
    /* config */
    font-size: 20px;
    text-align: center;
}
#title-woman1{
    /* position */
    position: relative;
    margin-top: 3rem;
    left: 4.5rem;
    /* config */
    width: 550px;
    height: 38px;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
    color: var(--rosa);
}
#text-woman1{
    /* position */
    margin-top: 7.5rem;
    margin-left: -30rem;
    /* config */
    width: 550px;
    height: 227px;
}
/* animations */
@keyframes moviment-plant{
    from{
        transform: rotate(0.1rad);
        z-index: 101;

    }
    to{
        z-index: 101;

    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    
}
@keyframes type{
    /* efect digitation */
    from { width: 0; }
}
@keyframes blink{
    to{opacity: .0;}
}
@keyframes slide-down {
    0%{
        top: -30px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
@keyframes slide-down2 {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}