@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */


*{
    box-sizing: border-box;
}
:root {
    --branco2:#ffffff ;
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
}
main,footer{
    mix-blend-mode: multiply; 

}

/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    /* position */
    position: absolute;
    display: flex;
    /* config */
    background-image: url(../assets/vinheta.png);
    height: 6935px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    /* config */
    height: 0rem;
    mix-blend-mode: multiply;
}
#bottom-shadowtrack{
    /* position */
    display: flex;
    position: relative;
    left: 84rem;
    top: 90rem;
    /* config */
    width: 15%;
}
#top-shadowplant{
    /* position */
    position: relative;
    left: 82rem;
    /* config */
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#mid-shadowplant{
    /* position */
    display: flex;
    position: relative;
    left: -3rem;
    top: 120rem;
    /* config */
    opacity: 0.6;
    width: 40%;
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#top-shadowtrack{
    /* position */
    position: relative;
    left: 15rem;
    /* config */
    width: 15%;
}

/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */
.header-div{
    display: flex;
    height: 120px;
    align-items: center;
}
#name-web{
    /* "web history */
    /* position */
    position: relative;
    top: 1rem;
    left: 84rem;
    width: 150%;
    z-index: 100;
    /* letter config */
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    color: var(--marromescuro3);
    -webkit-text-stroke: 1px var(--preto);
}
#name-web:hover{
    /* position */
    transform: scale(1.05);
}
.home-svg{
    /* "home" + svg */
    display: flex;
}
#home{
    /* position */
    position: relative;
    top: 1rem;
    width: 150%;
    /* letter config */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
}
#home:hover{
    /* config */
    transform: scale(1.1);
}
a{
    text-decoration: none;
}
.icon-home{
    /* position */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}.icon-home svg{
    /* config */
    width: 50px;
    height: 50px;
    color: var(--amareloescuro);
}
hr{
    /* position */
    margin-top: 30px;
    /* config */
    border: 2px solid var(--marromescuro3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro3);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.main-pai{
    /* config */
    display: grid;
    justify-items: center;
}
#title{
    /* position */
    margin: 5rem 5rem 0 5rem;
    /*letter config*/
    font-family: 'Special Elite', cursive;
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    border: px solid var(--preto);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
#title2{
    /* position */
    position: relative;
    top:-2rem;
    /* letter config*/
    z-index: 101;
    font-family: 'Special Elite', cursive;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    color: var(--amareloescuro);
    -webkit-text-stroke: 1px var(--amareloescuro);
    /* for animation */
    animation: fade 2s ease-in-out;
}
#cursor{
    animation: blink 1s infinite;
}
.container{
    /* position */
    display: flex;
    position: relative;
    /* div config */
    padding: 50px 70px 60px 60px;
    margin: 2.5rem;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--marromescuro2);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    /* letter config*/
    font-family: 'Habibi';
    font-size: 25px;
    line-height: 31px;
    color: var(--branco2);
}
.circle{
    /* position */
    position: absolute;
    /* config */
    width: 21px;
    height: 21px;
    background: var(--amareloclaro);
    mix-blend-mode: hard-light;
    opacity: 1;
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    /* position */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* position */
    left: 77rem;
    top: 1.5rem;
}
#title-box{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 80rem;
    height: 72px;
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: var(--amareloclaro);
}
#text-educ1{
    /* config */
    height: 101px;
    text-align: center;
}
#text-educ2{  
    /* config */
    height: 197px;
}
.img-educ{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
}
#img1{
    /* config */
    width: 20rem;
    height: 20rem;
}
.subtitle-educ{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
}
#text-educ3{
    /* config */
    height: 140px;
    text-align: center;
}
#text-policy1{
    /* config */
    height: 101px;
    text-align: center;
}
.img-policy{
    /* config */
    display: flex;
    justify-content: space-around;
    width: 80rem;
}
#img2{
    /* config */
    width: 20rem;
    height: 20rem;
}
.subtitle-policy{
    /* config */
    display: flex;
    width: 80rem;
    justify-content: space-around;
}
#text-midia1{
    /* config */
    height: 96px;
    text-align: center;
}
.img-midia{
    /* config */
    flex-wrap: wrap;
    display: flex;
    width: 80rem;
    justify-content: space-around; 
    align-items: center;
}
.box-midia1{
    display: flex;
    flex-flow: column;
    display: flex;
    align-items: center;    
}
#img3{
    /* config */
    width: 20rem;
    height: 20rem;
    padding: 1rem;
}
#subtitle-midia{
    /* config */
    width: 245px;
    height: 159px;
    text-align: center;

}
#text-midia2{  
    /* config */
    height: 161px;
    text-align: center;
}
.btn-midia{
    /* position */
    position: relative;
    left: 2.5rem;
}
.label-btn{
    /* position */
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.label-btn:hover{
    transform: scale(1.1);
}
.label-btn{
    /* moving the label for the top */
    /* position */
    cursor: pointer;
    display: flex;
    position: relative;
}
.label-btn::before,
.label-btn::after {
    content: "";
}
.label-btn::before{
    /* button before being checked (triangulo shape) */
    /* position */
    display:flex ;
    /* config */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--amareloescuro);
}
.input-btn:checked + .label-btn::before{
    /* button after being checked (triangulo shape) */
    /* position */
    margin-left: -15px;
    margin-top: 14px;
    /* config */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--amareloescuro);
}
.input-btn:focus+.label-btn::before{
    /* line in select (for accessibility) */
    outline:1px dotted #CCC;
}
.line{
    /* position */
    z-index: 100;
    display: flex;
    /* config */
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    /* position */
    z-index: 100;
    /* config */
    width: 61rem;
    border: 3px solid var(--preto);
    filter: blur(1px);
}
.nav-hidden-midia{
    /* position */
    display: none;
    position: relative;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;

}
.box-hidden-midia{
    /* config */
    display: flex;
    position: relative;
    top: -80px;
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--marromclaro);
    border: 1.84865px solid var(--marromescuro);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
@keyframes slide-down {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
#hidden-text1{
    /* config */
    padding: 0 20px;

    /* config letra */
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: var(--marromescuro);
}
.btn-especific{
    z-index: 100;
    height: 0;
    width: 80rem;
    top: 10rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}
#btn-right{
    z-index: 100;
    /* position */
    display:flex ;
    position: relative;
    /* config */
    width: 0;
    height: 0;
    background-color: transparent ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid var(--roxoescuro);
}
#btn-left{
    z-index: 100;

    /* position */
    display:flex ;
    position: relative;

    /* config */
    width: 0;
    height: 0;
    background-color: transparent; ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px transparent;
    border-right: 25px solid var(--roxoescuro);
}
#woman1{
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
    position: relative;

}
#woman2,#woman3,#woman4,#woman5{
    width: 80rem;
    flex-wrap: wrap;
    display: none;
    position: relative;
}

.img-woman{
    display: flex;
    position: relative;
}
#img6{
    display: flex;
    position: relative;
    width: 80%;
    height: 80%;
    top: 3rem;
    left: 6rem;
}
#subtitle-woman{
    display: flex;
    position: relative;
    display: flex;
    padding-left: 14rem;

    width: 80rem;
    font-size: 20px;
    text-align: center;

}
#title-woman{
    display: flex;
    position: relative;
    display: flex;

    margin-top: 3rem;
    left: 4.5rem;


    width: 550px;
    height: 38px;

    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
    color: var(--rosa);

}
#text-woman{
    margin-top: 7.5rem;
    margin-left: -30rem;
    width: 550px;
    height: 227px;


}
@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 101;

    }
    to{
        z-index: 101;

    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    
}
@keyframes type{
    from { width: 0; }
  }

@keyframes blink{
    to{opacity: .0;}
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}

