/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    /* position */
    position: fixed;
    /* config */
    background-image: url(../assets/vignette.png);
    height: 1200px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    /* config */
    height: 0rem;
    mix-blend-mode: multiply;
}
#bottom-shadowtrack{
    /* position */
    position: relative;
    left: 81rem;
    top: 90rem;
    /* config */
    width: 15%;
}
#top-shadowplant{
    /* position */
    position: relative;
    left: 82rem;
    /* config */
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#mid-shadowplant{
    /* position */
    display: flex;
    position: relative;
    left: -3rem;
    top: 120rem;
    /* config */
    opacity: 0.6;
    width: 40%;
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#top-shadowtrack{
    /* position */
    position: relative;
    left: 15rem;
    /* config */
    width: 15%;
}
/* ------------------------------------------------------ */
/* body */
/* ------------------------------------------------------ */
*{
    /* config */
    box-sizing: border-box;
}
a{
    /* config */
    text-decoration: none;
}
body{
    margin: 0;
    background-image: url("../assets/background.png");
}
main{
    mix-blend-mode: multiply; 
}
/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */
header{
    /* config */
    background: rgba(72, 51, 34, 0.3);
    box-shadow: 0px 2px 20px #483322;
}
.header-div{
    /* position */
    position: relative;
    top:1rem;
    display:flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    /* config */
    height: 80px;
}
#name-web{
    /* position */
    position: relative;
    left: -3rem;
    z-index: 100;
    /* config */
    transition: 0.3s;
    /* letter config */
    font-family: var(--web);
    font-size: 45px;
    color: var(--mid-brown);
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#name-web:hover{
    /* config */
    transform: scale(1.05);
}
.home-svg{
    /* position */
    position: relative;
    top: -1.5rem;
    left:3rem;
    display: flex;
    /* config */
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
#home{
    /* position */
    position: relative;
    top: 1rem;
    width: 150%;
    /* config */
    transition: 0.3s;
    /* letter config */
    text-align: center;
    font-family: var(--web);
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--dark-yellow);
    -webkit-text-stroke: 1px var(--dark-yellow);
}
#home:hover{
    /* config */
    transform: scale(1.05);
}
.icon-home{
    /* position */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}
.icon-home svg{
    /* config*/
    width: 50px;
    height: 50px;
    color: var(--dark-yellow);
}
hr{
    /* position */
    margin-top: 30px;
    /* config */
    border: 2px solid var(--dark-brown3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--dark-brown3);
}
/* ------------------------------------------------------ */
/* click here  */
/* ------------------------------------------------------ */
#text-click-here{
    /* "clique para ler mais" */
    /* config */
    width: 200px;
    height: 44px;
    margin: 0;
    font-family: var(--web);
    font-size: 25px;
    text-align: center;
    color: var(--light-brown);
    text-shadow: 0.1em 0.1em 0.2em black;
}
#img-click-here{
    /* position */
    margin-top: -2rem;
    /* config */
    width: 124px;
    height: 76px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: slide-right 2s alternate infinite ease-in-out;
}
/* ------------------------------------------------------ */
/* Main  */
/* ------------------------------------------------------ */
.main-div{
    /* config */
    display: grid;
    justify-items: center;
}
.title{
    /* position */
    margin: 5rem 5rem 2rem 5rem;
    /*letter config*/
    font-family: var(--title);
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: var(--dark-brown);
    -webkit-text-stroke: 1px var(--black);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
.title2{
    /* position */
    position: relative;
    top:-2rem;
    /* letter config*/
    z-index: 101;
    font-family: var(--title);
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: var(--dark-yellow);
    -webkit-text-stroke: 1px var(--dark-yellow);
    /* for animation */
    animation: fade 2s ease-in-out;
}
#cursor{
    animation: blink 1s infinite;
}
.container{
    /* position */
    display: flex;
    position: relative;
    /* div config */
    padding: 50px 70px 60px 60px;
    margin: 2.5rem;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--dark-brown2);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    /* letter config*/
    font-family: var(--text);
    font-size: 25px;
    line-height: 31px;
    color: var(--white-white);
}
.circle{
    /* position */
    position: absolute;
    /* config */
    width: 21px;
    mix-blend-mode: hard-light;
    height: 21px;
    background: var(--light-yellow);
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    /* position */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* position */
    left: 77rem;
    top: 1.5rem;
}
.title-box{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 80rem;
    height: 72px;
    font-family: var(--title);
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: var(--light-yellow);
}
.text{
    margin: 30px;
}
#text-center{
    width: 80rem;
    text-align: center;
}
.img{
    /* config */
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    transition: 0.3s;
}
.img:hover, #img-woman:hover, #img-midia:hover{
    opacity: 0.5;  
}
.box-img{  
    /* position */
    z-index: 100;
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
}
.box-subtitle{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
    /* letter config */
    font-size: 20px;
    margin-bottom: 30px;
}
.icon-more{
    width: 80rem;
    height: 0;
    justify-content: space-around;
    display: flex;
    position: relative;
    top: 8rem;
}
#plus{
    color: var(--white-white);
    width: 50px;
    height: 50px;
}

/* ------------------------------------------------------ */
/* LINE  */
/* ------------------------------------------------------ */
.line{
    /* position */
    z-index: 100;
    /* config */
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    /* position */
    z-index: 100;
    position: relative;
    top: -2rem;
    /* config */
    width: 61rem;
    border: 3px solid var(--black);
    filter: blur(1px);
}
/* ------------------------------------------------------ */
/* TEXT HIDDEN  */
/* ------------------------------------------------------ */
.subtitle-text{
    /* config */
    width: 20rem;
    height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.nav-hidden{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
.box-hidden{
    /* config */
    position: relative;
    top: -81px;
    /* config */
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--white-white);
    border: 1.84865px solid var(--white-white);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
#text-hidden{
    /* config */
    padding: 0 20px;
    /* letter config */
    font-size: 23px;
    line-height: 29px;
    color: var(--black);
}
/* ------------------------------------------------------ */
/* NEWSPAPER  */
/* ------------------------------------------------------ */
.img-midia{
    /* config */
    flex-wrap: wrap;
    display: flex;
    width: 80rem;
    justify-content: space-around; 
    align-items: center;
}
.box-midia{
    flex-flow: column;
    display: flex;
    align-items: center;    
}
#img-midia{
    /* config */
    width: 18rem;
    height: 22rem;
    padding: 1rem;
    border-radius: 25px;
    transition: 0.3s;
}
#subtitle-midia{
    /* config */
    width: 245px;
    height: 159px;
    text-align: center;
}
/* ------------------------------------------------------ */
/* TEXT HIDDEN  */
/* ------------------------------------------------------ */
.label-btn{
    /* moving the label for the top */
    /* position */
    z-index: 100;
    cursor: pointer;
    display: flex;
    position: relative;
    transition-duration: 0.3s;
}
.label-btn:hover{
    transform: scale(1.1);
}
.label-btn::before,
.label-btn::after {
    content: "";
}
.label-btn::before{
    /* button before being checked (triangulo shape) */
    /* position */
    display:flex;
    /* config */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--light-yellow);
}
.input-btn:checked + .label-btn::before{
    /* button before being checked (triangulo shape) */
    /* position */
    margin-left: -15px;
    margin-top: 14px;
    /* config */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--dark-yellow);
}
.input-btn:focus+.label-btn::before{
    /* line in select (for accessibility) */
    outline:1px dotted #CCC;
}
/* ------------------------------------------------------ */
/* Timeline  */
/* ------------------------------------------------------ */
.timeline-div{
    /* config */
    display: flex;
    justify-content: center;
    width: 80rem;
}
.num-years{
    /* config */
    width: 116px;
    height: 30px;
    font-family: var(--title);
    font-size: 35px;
    color:var(--dark-yellow);
}
.timeline-text{
    display: grid;
    justify-content: center;
    width: 80rem;
    margin-top: -60rem;
}
.num-years,.text-years{
    width: 500px;
}
#timeline{
    /* config */
    z-index: 100; 
    border: 3px solid var(--white-white);
    border-radius: 2px;
}
.colorline{
    /* config */
    height: 500.01px;
    border: 3px solid var(--light-purple);
    transform: rotate(-90deg);
    border-radius: 2px;
}
/* ------------------------------------------------------ */
/* women especific  */
/* ------------------------------------------------------ */
.btn-especific{
    /* position */
    display: flex;
    position: relative;
    top: 18rem;
    z-index: 100;
    /* config */
    height: 0;
    width: 80rem;
    justify-content: space-between;
}
#btn-right:hover,#btn-left:hover{
    transform: scale(0.9);
}
#btn-right:hover{
    border-right: 25px solid var(--dark-yellow);
}
#btn-left:hover{
    border-left: 25px solid var(--dark-yellow);
}
#btn-left{
    /* config */
    width: 0;
    height: 0;
    background-color: transparent ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid var(--light-yellow);
    cursor: pointer;
    transition-duration: 0.5s;
}
#btn-right{
    /* config */
    width: 0;
    height: 0;
    background-color: transparent; ;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px transparent;
    border-right: 25px solid var(--light-yellow);
    cursor: pointer;
    transition-duration: 0.5s;
}
.img-subtitle{
    position: relative;
    top: 2rem;
    display: grid;
    flex-wrap: nowrap;
    width: 28rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transition: 0.3s;

}
.woman{
    margin: 80px;
}
#woman1{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
}
#img-woman{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 22.5rem;
    height: 22.5rem;
    margin: 30px;
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.3s;

}
#subtitle-woman{
    font-size: 20px;
    text-align: center;
}
.title-div{
    /* topo | direita | inferior | esquerda */
    width: 30rem;
    margin: 15px 30px 30px 20px;
    text-align: center; 
}
#title-woman{
    /* config */
    height: 20px;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--light-pink);
}
#title-woman2{
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    color: var(--light-pink);
}
#text-woman{
    /* position */
    /* config */
    width: 32rem;
    height: 227px;
}

/* ------------------------------------------------------ */
/* READ MORE - TOPICS*/
/* ------------------------------------------------------ */
#read-more{
    position: relative;
    top: -3.5rem;
    left: 55rem;
    transition: 0.5s;
    height: 50px;
}
#read-more:hover{
    transform: scale(1.1);
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */
footer {
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.footer{
    position: relative;
    display: grid;
    justify-items: center;
    top: 2rem;
    height: 95px;
    text-decoration: none;

}
.text-icon{
    /* position */
    display: flex;
    z-index:100;
    /* config */
    align-items: center;
    padding: 15px;
}
#about-us {
    /* position */
    margin-right: 20px;
    /* config */
    font-family: var(--web);
    font-size: 32px;
    line-height: 144.5%;
    color: var(--white-white);
    
    text-shadow: 0.1em 0.10em 0.10em black
}
.references{
    z-index: 100;
    position: relative; 
    top: 1rem;
    transition: 0.5s;

}
.references:hover{
    transform: scale(1.1);
    animation: colors 3s ease-in-out infinite ;
}
#arrow1,#arrow2{
    animation: colors 3s ease-in-out infinite ;
}

.icon-network svg {
    /* position */
    margin-right: 10px;
    /* config */
    width: 40px;
    height: 40px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));


    transition: 0.25s;
}
.icon-network svg:hover {
    /* config */
    transform: scale(1.1);
}
#insta1{
    /* config */
    color: var(--light-yellow);
}
#insta1:hover{
    color: var(--dark-yellow);
}

#git {
    /* config */
    color: var(--light-pink);
}
#git:hover{
    color: var(--dark-pink);
}

#insta2{
    /* config */
    color: var(--light-purple2);

}
#insta2:hover{
    /* config */
    color: var(--dark-purple);
}
.git, .insta, .linke {
    /* config */
    background-color: transparent;
    border: transparent;
    color: transparent;
}

/* ------------------------------------------------------ */
/* Scrollbar */
/* ------------------------------------------------------ */
body::-webkit-scrollbar {
    width: 12px;               
}
body::-webkit-scrollbar-track {
   background-image: url(../assets/background.png);
   border: 1px solid var(--black);

   opacity: 0.1;        
}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-yellow);    
    border: 1px solid var(--dark-brown3);
}
@keyframes colors{
    0%{ 
        color: var(--dark-pink);
        -webkit-text-stroke: 1px var(--dark-pink);

    }
    50%{
        color: var(--dark-yellow);
        -webkit-text-stroke: 1px var(--dark-yellow);

    }
    100%{
        color: var(--dark-purple);
        -webkit-text-stroke: 1px var(--dark-purple);

    }
}

@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 101;

    }
    to{
        z-index: 101;

    }
}
@keyframes slide-right{
    50%{
        transform: translatex(10px);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    
}
@keyframes type{
    /* efect digitation */
    from { width: 0; }
}
@keyframes blink{
    to{opacity: .0;}
}
@keyframes slide-down {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
@keyframes fade-left {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
}
@keyframes fade-right {
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
}
