/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    position: fixed;
    background-image: url(../assets/background/vignette.png);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    opacity: 0.65;
}
.shadows-div{
    mix-blend-mode: multiply;
    height: 0;
	text-align: justify;
}
.shadows-div::after {
	content: '';
	display: inline-block;
	width: 100%;
}
.box-shadow { 
    display: inline-block; 
}
#mid-shadowplant{
    position: relative;
    top: 150rem;
}
.img-shadow{
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
.timeline-pages{
    mix-blend-mode: multiply;
    height: 0;
    position: fixed;
	text-align: justify;
    z-index: 101;
    width: 100vw;
}
.timeline-pages::after{
	content: '';
	display: inline-block;
	width: 100%;
}
.btn-seta-pages{
    position: relative;
    top: 28rem;
    margin: 0 5rem 0 5rem;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
.btn-seta-pages{ 
    display: inline-block;
}
/* body */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    background-image: url("../assets/background/background.png");
}
main{
    mix-blend-mode: multiply; 
}
/* header */
header{
    background: rgba(72, 51, 34, 0.3);
    box-shadow: 0px 2px 20px #483322;
}
.header-div{
    position: relative;
    top:1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
#name-web{
    position: relative;
    left: -3rem;
    transition: 0.3s;
    font-family: var(--web);
    font-size: 45px;
    color: var(--mid-brown);
    text-shadow: 0.1em 0.1em 0.2em black;
}
#name-web:hover{
    transform: scale(1.05);
}
.home-svg{
    position: relative;
    top: -1.5rem;
    left:3rem;
    display: flex;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
#home{
    position: relative;
    top: 1rem;
    margin-left: 2rem;
    transition: 0.3s;
    font-family: var(--web);
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--dark-yellow);
    -webkit-text-stroke: 1px var(--dark-yellow);
}
#home:hover{
    transform: scale(1.05);
}
.icon-home{
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}
.icon-home svg{
    width: 50px;
    height: 50px;
    color: var(--dark-yellow);
}
hr{
    margin-top: 30px;
    border: 2px solid var(--dark-brown3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--dark-brown3);
}
/* click here  */
#text-click-here{
    width: 200px;
    height: 44px;
    margin: 0;
    font-family: var(--web);
    font-size: 25px;
    text-align: center;
    color: var(--light-brown);
    text-shadow: 0.1em 0.1em 0.2em black;
}
#img-click-here{
    margin-top: -2rem;
    width: 124px;
    height: 76px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: slide-right 2s alternate infinite ease-in-out;
}
/* Main  */
.main-div{
    display: grid;
    justify-items: center;
}
.title{
    margin: 5rem 0rem 2rem 0rem;
    font-family: var(--title);
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    color: var(--dark-brown);
    -webkit-text-stroke: 1px var(--black);
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
.title2{
    position: relative;
    top:-2rem;
    z-index: 101;
    font-family: var(--title);
    font-size: 45px;
    text-align: center;
    color: var(--dark-yellow);
    -webkit-text-stroke: 1px var(--dark-yellow);
    animation: fade 2s ease-in-out;
}
#cursor{
    animation: blink 1s infinite;
}
.container{
    display: flex;
    position: relative;
    padding: 50px 65px 60px 65px;
    margin: 2.5rem;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--dark-brown2);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    font-family: var(--text);
    font-size: 25px;
    line-height: 31px;
    color: var(--white-white);
}
.circle{
    position: absolute;
    width: 21px;
    mix-blend-mode: hard-light;
    height: 21px;
    background: var(--light-yellow);
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    left: 77rem;
    top: 1.5rem;
}
.title-box{
    display: flex;
    position: relative;
    width: 80rem;
    height: 72px;
    font-family: var(--title);
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: var(--light-yellow);
}
.text{
    margin: 30px;
}
#text-center{
    width: 80rem;
    text-align: center;
}
.img{
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var();
    cursor: pointer;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
}
.img:hover, #img-woman:hover, #img-midia:hover,#img-subtitle-white:hover{
    opacity: 0.5;  
}
.icon-more{
    width: 80rem;
    height: 0;
    justify-content: space-around;
    display: flex;
    position: relative;
    top: 8rem;
}
#plus{
    color: var(--white-white);
    width: 50px;
    height: 50px;
}
.div-img-subtitle{
    width: 80rem;
    z-index: 100;
    display: flex;
    justify-content: space-around;
}
.subtitle{
    width: 20rem;
    font-size: 20px;
    text-align: center;
    text-shadow: 0.1em 0.10em 0.10em black
}
/* ------------------------------------------------------ */
/* LINE  */
/* ------------------------------------------------------ */
.line{
    z-index: 100;
    width: 80rem;
    height: 20px;
    justify-content: flex-start;
}
#hidden-line{
    z-index: 100;
    position: relative;
    top: -1.8rem;
    width: 61rem;
    border: 3px solid var(--black);
    filter: blur(1px);
}
/* ------------------------------------------------------ */
/* TEXT HIDDEN  */
/* ------------------------------------------------------ */
.subtitle-text{
    width: 20rem;
    height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.nav-hidden{
    display: none;
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
.box-hidden{
    position: relative;
    top: -91px;
    justify-content: center;
    width: 60rem;
    height: 14rem;
    background: var(--white-white);
    border: 1.84865px solid var(--white-white);
    border-radius: 0px 0px 27px 27px;
    padding: 0  10px;
    animation: slide-down 0.5s ;
}
#text-hidden{
    padding: 0 20px;
    font-size: 23px;
    line-height: 29px;
    color: var(--black);
}
/* ------------------------------------------------------ */
/* NEWSPAPER  */
/* ------------------------------------------------------ */
.img-midia{
    flex-wrap: wrap;
    display: flex;
    width: 80rem;
    justify-content: space-around; 
    align-items: center;
}
.box-midia{
    flex-flow: column;
    display: flex;
    align-items: center;    
}
#img-midia{
    width: 18rem;
    height: 22rem;
    padding: 1rem;
    border-radius: 25px;
    transition: 0.3s;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
#subtitle-midia{
    width: 245px;
    height: 159px;
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
/* ------------------------------------------------------ */
/* TEXT HIDDEN  */
/* ------------------------------------------------------ */
.label-btn{
    z-index: 101;
    cursor: pointer;
    display: flex;
    position: relative;
    transition-duration: 0.3s;
}
.label-btn:hover{
    z-index: 101;
    transform: scale(1.1);
}
.label-btn::before,
.label-btn::after {
    z-index: 101;
    content: "";
}
.label-btn::before{
    z-index: 101;
    display:flex;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid var(--light-yellow);
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
.input-btn:checked + .label-btn::before{
    z-index: 101;
    margin-left: -15px;
    margin-top: 14px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid var(--dark-yellow);
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
/* ------------------------------------------------------ */
/* Timeline  */
/* ------------------------------------------------------ */
.timeline-div{
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 0;
}
#timeline{
    z-index: 100; 
    border: 3px solid var(--white-white);
    border-radius: 2px;
}
.timeline-main{
    width: 80rem;
    display: grid;
    justify-content: center;
}
.timeline-text{
    display:flex;
    flex-direction: column;
}
#timeline-text-right{
    position: relative;
    left: 15.5rem;
}
#timeline-text-left{
    position: relative;
    right: 15.5rem;
    text-align: right;
}
.colorline{
    /* config */
    width: 500px;
    border: 3px solid var(--dark-purple);
    border-radius: 2px;
}
.num-timeline{
    /* config */
    font-family: var(--title);
    font-size: 35px;
    color:var(--dark-yellow);
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));

}
.num-timeline,.text-timeline{
    width: 500px;
    padding: 0 25px 0 25px;
}
.div-color{
    padding: 0 25px 0 25px;
    width: 500px;
    text-align: center;
}
.box-color{
    margin-top: 10px;

    background:var(--dark-purple);
    border-radius: 4px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.span-color{
    font-family: var(--title);
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
    font-size: 20px;

}
/* ------------------------------------------------------ */
/* women especific  */
/* ------------------------------------------------------ */
#women-especific{
    justify-content: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    align-items: center;
}
.btn-especific{
    display: flex;
    position: relative;
    z-index: 100;
    padding: 0;
    justify-content: space-between;
}
.btn-seta{
    margin: 0 1rem 0 1rem;
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 1));
}
#btn-right:hover,#btn-left:hover,#btn-left-page:hover,#btn-right-page:hover{
    transform: scale(0.9);
}
#btn-right:hover,#btn-right-page:hover{
    border-right: 30px solid var(--dark-yellow);
}
#btn-left:hover,#btn-left-page:hover{
    border-left: 30px solid var(--dark-yellow);
}
#btn-left,#btn-left-page{
    width: 0;
    height: 0;
    background-color: transparent ;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid var(--light-yellow);
    cursor: pointer;
    transition-duration: 0.2s;
}
#btn-right,#btn-right-page{
    width: 0;
    height: 0;
    background-color: transparent; ;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid var(--light-yellow);
    cursor: pointer;
    transition-duration: 0.2s;
}
.box-woman{
    padding: 40px 80px 80px 80px;
}
.img-subtitle{
    position: relative;
    display: grid;
    flex-wrap: nowrap;
    width: 28rem;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    margin: 25px;
}
#woman1{
    width: 80rem;
    display: flex;
}
#img-woman{
    display: flex;
    position: relative;
    width: 22.5rem;
    height: 22.5rem;
    margin: 30px;
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
}
#subtitle-img-woman{
    font-size: 20px;
    text-align: center;
    position: relative;
    text-shadow: 0.1em 0.10em 0.10em black
}
.box-text-woman{
    display: flex;
    flex-direction: column;
    padding: 15px 30px 30px 20px;
    text-align: center; 
    justify-content: center;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    margin: 25px;
}
#title-woman{
    height: 20px;
    margin-bottom: 20px;
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--light-yellow);
    text-shadow: 0.1em 0.10em 0.10em black
}
#subtitle-woman{
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    color: var(--light-yellow);
    text-shadow: 0.1em 0.10em 0.10em black

}
#text-woman{
    width: 32rem;
}
/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */
footer {
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.footer{
    position: relative;
    display: grid;
    justify-items: center;
    top: 2rem;
    height: 95px;
    text-decoration: none;
}
.text-icon{
    display: flex;
    z-index:100;
    align-items: center;
    padding: 15px;
}
#about-us {
    margin-right: 20px;
    font-family: var(--web);
    font-size: 32px;
    line-height: 144.5%;
    color: var(--white-white);
    text-shadow: 0.1em 0.10em 0.10em black
}
.references{
    z-index: 100;
    position: relative; 
    top: 1rem;
    transition: 0.5s;
}
.references:hover{
    transform: scale(1.1);
    animation: colors 3s ease-in-out infinite ;
}
#arrow1,#arrow2{
    animation: colors 3s ease-in-out infinite ;
}
.icon-network svg {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    transition: 0.25s;
}
.icon-network svg:hover {
    transform: scale(1.1);
}
#insta1{
    color: var(--light-yellow);
}
#insta1:hover{
    color: var(--dark-yellow);
}
#git {
    color: var(--light-pink);
}
#git:hover{
    color: var(--dark-pink);
}
#insta2{
    color: var(--light-purple2);
}
#insta2:hover{
    color: var(--dark-purple);
}
.git, .insta, .linke {
    background-color: transparent;
    border: transparent;
    color: transparent;
}
#credits{
    position: relative;
    top: -1.5rem;
    z-index: 100;
    font-family: var(--text);
    color: var(--black);
}

.text-achievement{
    font-size: 27px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
/* ------------------------------------------------------ */
/* references*/
/* ------------------------------------------------------ */
.subtitle-refe{
    margin: 5rem;
}
@media screen and (max-width: 1000px) {
    .subtitle-refe{
        margin: 1rem;
    } 
}
/* ------------------------------------------------------ */
/* Scrollbar */
/* ------------------------------------------------------ */
body::-webkit-scrollbar {
    width: 12px;               
}
body::-webkit-scrollbar-track {
   background-image: url(../assets/background/background.png);
   border: 1px solid var(--black);
   opacity: 0.1;        
}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-yellow);    
    border: 1px solid var(--dark-brown3);
}
