@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */

*{
    box-sizing: border-box;
}
:root {
    --branco2:#ffffff ;
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --roxoclaro2: #AC92BE;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}
body{
    margin: 0;
    background-image: url("../assets/background.png");
}
main{
    mix-blend-mode: multiply; 
}
/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    /* position */
    position: fixed;
    /* config */
    background-image: url(../assets/vignette.png);
    height: 1000px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5;
}
.shadows-div{
    /* config */
    height: 0rem;
    mix-blend-mode: multiply;
}

#top-shadowplant{
    /* position */
    position: relative;
    left: 82rem;
    /* config */
    animation: moviment-plant 2s ease-in-out infinite alternate;
}

#top-shadowtrack{
    /* position */
    position: relative;
    left: -15rem;
    /* config */
    width: 15%;
}
/* ------------------------------------------------------ */
/* header */
/* ------------------------------------------------------ */
header{
    background: rgba(72, 51, 34, 0.3);
    box-shadow: 0px 2px 20px #483322;

}
.header-div{
    /* position */
    display: flex;
    /* config */
    height: 80px;
    align-items: center;
}
#name-web{

    /* "web history */
    /* position */
    position: relative;
    width: 150%;
    top: 0.5rem;
    left: 85rem;
    z-index: 100;
    transition: 0.5s;
    /* letter config */
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    color: var(--marromintermediario);
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#name-web:hover{
    /* animation cursor*/
    /* config */
    transform: scale(1.1);
}
.home-svg{
    /* "home" + svg */
    /* position */
    position: relative;
    top: -0.5rem;
    left: 9.5rem;
    display: flex;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}
#home{
    /* position */
    position: relative;
    top: 1rem;
    width: 150%;
    transition: 0.5s;

    /* letter config */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    color: var(--roxoescuro);
    -webkit-text-stroke: 1px var(--roxoescuro);
}
#home:hover{
    /* animation cursor */
    /* config */
    transform: scale(1.05);
}
a{
    /* config link */
    text-decoration: none;
}
.icon-home{
    /* div-svg */
    /* position */
    position: relative;
    display: flex;
    left: -85%;
    top: 2.2rem;
}
.icon-home svg{
    /* config*/
    width: 50px;
    height: 50px;
    color: var(--roxoescuro);
}
hr{
    /* line to separate*/
    /* position */
    margin-top: 30px;
    border: 2px solid var(--marromescuro3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro3);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.main-div{
    /* config */
    display: grid;
    justify-items: center;
}
.title{
    /* position */
    margin: 5rem 5rem 0 5rem;
    /*letter config*/
    font-family: 'Special Elite', cursive;
    font-size: 65px;
    line-height: 200px;
    text-align: center;
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    /* for animation*/
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) ;
}
.title2{
    /* position */
    position: relative;
    top:-2rem;
    /* letter config*/
    z-index: 101;
    font-family: 'Special Elite', cursive;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: var(--roxoclaro);
    -webkit-text-stroke: 1px var(--roxoclaro);
    /* for animation */
    animation: fade 2s ease-in-out;
}
#cursor{
    animation: blink 1s infinite;
}
.container{
    /* position */
    display: flex;
    position: relative;
    /* div config */
    padding: 60px 60px 60px 60px;
    margin: 2.5rem;
    flex-wrap: wrap;
    width: 80rem;
    border: 1px solid #000000;
    background:var(--marromescuro2);
    border-radius: 15px;
    box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.3), -8px -8px 10px 1px rgba(0, 0, 0, 0.3);
    /* letter config*/
    font-family:'habibi';
    font-size: 25px;
    color: var(--branco2);
}
.circle{
    /* position */
    position: absolute;
    /* config */
    width: 21px;
    mix-blend-mode: hard-light;
    height: 21px;
    background: var(--roxoclaro2);
    border: 1px solid #000000;
    border-radius: 15px;
}
#circle1{
    /* position */
    left: 1.5rem;
    top: 1.5rem;
}
#circle2{
    /* position */
    left: 77rem;
    top: 1.5rem;
}
.title-box{
    /* position */
    position: relative;
    /* config */
    width: 80rem;
    height: 72px;
    margin-left: 30px;
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    color: var(--roxoclaro);
}
.text{
    margin: 30px;
}
#text-suffrage{
    text-align: center;
}
#read-more{
    position: relative;
    top: -5rem;
    left: 55rem;
    transition: 0.5s;
    height: 20px;
}
#read-more:hover{
    transform: scale(1.1);
}


.woman{
    margin: 80px;
}
#woman1{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: flex;
}

#img-woman1{
    /* position */
    display: flex;
    position: relative;
    /* config */
    width: 22.5rem;
    height: 22.5rem;
    margin: 30px;
    
}
#subtitle-woman{
    /* position */
    position: relative;
    padding-left: 11rem;
    top: -3rem;
    /* config */
    font-size: 20px;
    text-align: center;
}

.title-div{
    width: 32rem;
    margin: 15px 30px 30px 20px;
    text-align: center; 
}
#title-woman{
    /* config */
    height: 20px;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--amareloescuro);
}
#title-woman2{
    position: relative;
    /* letter config */
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    color: var(--amareloescuro);
}
#text-woman{
    /* position */
    /* config */
    width: 32rem;
    height: 227px;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */
footer {
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.footer{
    position: relative;
    display: grid;
    justify-items: center;
    top: 2rem;
    height: 95px;
    text-decoration: none;

}
.text-icon{
    /* position */
    display: flex;
    z-index:100;
    /* config */
    align-items: center;
    padding: 15px;
}
#about-us {
    /* position */
    margin-right: 20px;
    /* config */
    font-family: 'Shadows Into Light';
    font-size: 32px;
    line-height: 144.5%;
    color: var(--branco);
    
    text-shadow: 0.1em 0.10em 0.10em black
}
.references{
    z-index: 100;
    position: relative; 
    top: 1rem;
    transition: 0.5s;

}
.references:hover{
    transform: scale(1.1);
    animation: colors 3s ease-in-out infinite ;
}
#arrow1,#arrow2{
    animation: colors 3s ease-in-out infinite ;
}

.icon-network svg {
    /* position */
    margin-right: 10px;
    /* config */
    width: 40px;
    height: 40px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));


    transition: 0.25s;
}
.icon-network svg:hover {
    /* config */
    transform: scale(1.1);
}
#insta1{
    /* config */
    color: var(--amareloclaro);
}
#insta1:hover{
    color: var(--amareloescuro);
}

#git {
    /* config */
    color: var(--rosa);
}
#git:hover{
    color: var(--rosaescuro);
}

#insta2{
    /* config */
    color: var(--roxoclaro);

}
#insta2:hover{
    /* config */
    color: var(--roxoescuro);
}
.git, .insta, .linke {
    /* config */
    background-color: transparent;
    border: transparent;
    color: transparent;
}
@keyframes colors{
    0%{ 
        color: var(--rosaescuro);
        -webkit-text-stroke: 1px var(--rosaescuro);

    }
    50%{
        color: var(--amareloescuro);
        -webkit-text-stroke: 1px var(--amareloescuro);

    }
    100%{
        color: var(--roxoescuro);
        -webkit-text-stroke: 1px var(--roxoescuro);

    }
}

@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 101;

    }
    to{
        z-index: 101;

    }
}
@keyframes slide-right{
    50%{
        transform: translatex(10px);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    
}
@keyframes type{
    from { width: 0; }
  }

@keyframes blink{
    to{opacity: .0;}
}

@keyframes slide-down {
    0%{
        top: -90px;
        opacity: 0;  
    }
    25%{
        opacity: 0;
    }
}
