
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}
.colorline{
    border:  solid var(--dark-pink);
}
#btn-left,#btn-left-page{
    z-index: 100;

    border-left: 30px solid var(--light-pink);
}
#btn-right,#btn-right-page{
    z-index: 100;

    border-right: 30px solid var(--light-pink);
}
#btn-left:hover,#btn-left-page:hover{
    z-index: 100;
    border-left: 30px solid var(--dark-pink);
}
#btn-right:hover,#btn-right-page:hover{
    z-index: 100;

    border-right: 30px solid var(--dark-pink);
}
.label-btn::before{
    border-left: 30px solid var(--light-pink);
}
.input-btn:checked + .label-btn::before{
    border-top: 30px solid var(--dark-pink);
}