@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */


/* zera algumas coisas de css */
* {
    box-sizing: border-box;
}


/* variaveis das cores */
:root {
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaclaro: #f63876;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --preto: #201d18;
}


/* imagem de fundo */
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
}

/* div pai da sectio header */
.container {
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: flex-start;
}


/* titulo da pagina "web history */
#titulo {
    /* posicao */
    position: relative;
    top: 1rem;
    width: 150%;
    left: 70rem;
    z-index: 101;
    /* configuração da letra */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    /* cor */
    color: var(--marromescuro2);
    -webkit-text-stroke: 1px var(--preto);
}


/* escrita ao lado da seleçao "topico especifico" */
#label-topico {
    /* posição */
    margin-right: 5px;
    /* configuração da letra */
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* cor*/
    color: var(--marromclaro);
    -webkit-text-stroke: 0.5px var(--marromclaro);
}

/* div (de todo icone de pesquisa) */
.input-pesquisa {
    z-index:100;
    position: relative;
    top: 2rem;
    right: 35rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* apenas a area de pesquisa (clicavel) */
select {
    /* posição */
    position: sticky;
    display: flex;
    justify-content: left;


    /* configuraçao da seleção */
    text-align: center;
    background-color: var(--marromclaro);
    opacity: 0.5;
    color: var(--preto);
    width: 25%;
    height: 25%;
    border-radius: 20px;
    padding: 8px 0px;

    /* configuração letra */
    font-family: 'Habibi', serif;
    font-weight: bold;
    color: var(--preto);
    font-size: 18px;
    border: 2px solid var(--branco);
    
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

/* linhs que separa o cabecalho do main */
hr{
    margin-top: 30px;
    /* cor*/
    border: 2px solid var(--marromescuro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
    background-color: var(--marromescuro);

}

/* icone de pesquisa feather icon */
.icon-pesquisa svg {
    width: 57px;
    height: 57px;
    color: var(--marromclaro);
}

/* nome do tcc */
#titulo2 {
    /* posição */
    /* configuração da letra */
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    /* cor*/
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    border: px solid var(--preto);
}

/* sombra atras do titulo "a trajetoria da mulher na historia" */
.fundo-sombra-titulo{
    display: flex;
    position: relative;
    opacity: 0.5;
    height: 15rem;
    width: auto;
    margin-top: -15.5rem;
    /* configuração */
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* linha do tempo  */
.linha-tempo {
    /* posiçao */
    position: relative;
    top: 6.5rem;
    margin: auto;
    /* configuraçoes */
    width: 70rem;
    /* linha */
    border: 2px solid #5B3E26;
    background-color: var(--marromescuro);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* caixas onde esta escrito as epocas  */
.caixas-epocas {
    /* posiçao */
    position: relative;
    text-align: center;
    /* configuraçao */
    z-index:100;
    

}


/* caixas onde esta escrito as epocas  */
.caixas-epocas img {
    /* configuraçao */
    height: 13rem;
}

/* configuração da sombra */
.fundo-sombra{
    display: flex;
    position: relative;
    opacity: 0.8;
    height: 20rem;
    width: auto;
    margin-top: -15.5rem;
    /* configuração */
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

/* section */
.footer {
    display: flex;
    justify-content: center;
}

/* div pai do section footer */
.rodape {
    /* posição */
    padding: 15px;
    position: relative;
    top: 9rem;
    display: flex;
    align-items: center;
    z-index:100;
}




/* texto sobrenos */
#sobre-nos {
    margin-right: 20px;
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 144.5%;
    color: var(--marromclaro);
    -webkit-text-stroke: 1px var(--marromclaro);
    color: #E8DACF;
}


/* icones de redes */
.icon-redes svg {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    color: var(--marromclaro);
}


/* configurando botão */
.git, .insta, .linke {
    background-color: transparent;
    border: transparent;
    color: transparent;
}




/* div pai das sombras */
.sombras-pai{

}

/* sectio pai */
/* conversar com o professor sobre  */
.vinheta{
    margin-top: -52.9rem;
    position: relative;
    display: flex;
    /* conversar com o professor sobre isso  */
    height: 1010px;
    width: auto;
    background-image: url(../assets/vinheta.png);
    background-size: 100%;
    /* arrumar opaciodade da imagem */
    opacity: 0.6;
}

/* sombra da planta no canto inferior esquerdo */
.sombraplanta1{
    /* posição */
    position: relative;
    display: flex;
}
#sombra-inferior{
    /* posição */
    margin-top: -28%;
    z-index: 101;


    /* configuração */
    height: 20%;
    width: 20%;
}
#pegada-inferior{
    /* posição */
    margin-top: -20%;
    margin-left: -15%;

    /* configuração */
    width: 15%;
    height: 15%;
    opacity: 0.7;
}

/* sombra da planta no canto superior direito */
.sombraplanta2{
    margin: 0;
    /* posição */
    position: relative;
    display: flex;
}
#sombra-superior{
    /* posição */
    margin-top: -51%;
    /* margin-left: 94.8rem; */
    margin-left: 75%;
    /* configuração */
    z-index: 101;
    height: 25%;
    width: 25%;
}
#pegada-superior{
    /* posição */
    margin-top: -50.3%;
    margin-left: -16%;
    opacity: 0.7;
    /* configuração */
    width: 15%;
    height: 15%;
}
/* comentar codigo */
/* arrumar porentagem (trocar e testar) v */


/* reponsividade */
@media screen and (min-width: 1000px) {
    .vinheta {
      height: 1010px;
    }
    
}
@media screen and (min-width: 2100px) {
    .vinheta {
      height: 1112px;
    }
    
}
@media screen and (min-width: 2400px) {
    .vinheta {
      height: 1320px;
    }
    
}

