@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');
/* font-family: 'Shadows Into Light', cursive; */


*{
    box-sizing: border-box;
}
:root {
    --branco2:#ffffff ;
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaescuro: #AD0039;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --roxoclaro2: #AC92BE;
    --marromescuro: #5b3e26;
    --marromescuro2: #483322;
    --marromescuro3:rgba(53, 25, 5, 0.9);
    --preto: #201d18;
}
body{
    margin: 0;
    background-image: url("../assets/fundo.png");
}
/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    /* position */
    position: absolute;
    z-index: 100;
    /* config */
    background-image: url(../assets/vinheta.png);
    height: 1000px;
    width: 100%;
    background-size: 100%;
    opacity: 0.65;
}
.shadows-div{
    /* config */
    height: 0;
    mix-blend-mode: multiply;
}
#top-shadowplant{
    z-index: 100;
    display: flex;
    position: relative;
    left: 80rem;
    width: 25%;
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#bottom-shadowplant{
    display: flex;
    position: relative;
    top: -4rem;
    width: 20%;
    animation: moviment-plant 2s ease-in-out infinite alternate;
}
#top-shadowtrack{
    /* position */
    display: flex;
    position: relative;
    left: 15rem;
    top: -52rem;
    /* config */
    width: 15%;
    opacity: 0.7;

}
#bottom-shadowtrack{
    /* position*/
    display: flex;
    position: relative;
    z-index: 100;
    left: 84rem;
    top: -50rem;

    /* config */
    width: 15%;
    opacity: 0.7;
}
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
header{
    background: rgba(72, 51, 34, 0.3);
    box-shadow: 0px 2px 20px #483322;

}
.header{
    /* position */
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    /* config */
    height: 80px;
}
#name-web{
    /* "web history */
    /* position */
    position: relative;
    width: 150%;
    left: 72rem;
    z-index: 100;
    /* letter config */
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    color: var(--marromintermediario);
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#name-web:hover{
    /* animation cursor*/
    /* config */
    transform: scale(1.1);
}
.input-search{
    /* position */
    z-index:100;
    position: relative;
    top: 1rem;
    right: 28rem;
    /* config */
    width: 50%;
    display: flex;
    align-items: center;
}
.icon-search svg {
    z-index: 100;
    /* icons */
    /* config */
    width: 48px;
    height: 48px;
    color: var(--roxoescuro);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
#label-topics{
    /* "topico especifico" */
    /* position */
    margin-right: 5px;
    /*letter config */
    font-family: 'Shadows Into Light';
    font-size: 28px;
    color: var(--marromintermediario);
    -webkit-text-stroke: 0.5px var(--marromintermediario);
    text-shadow: 0.1em 0.1em 0.2em black;
}
select{
    /* select config */
    text-align: center;
    background-color: var(--marromclaro);
    opacity: 0.5;
    width: 20%;
    height: 25%;
    border-radius: 20px;
    padding: 8px 0px;
    /* letter config */
    font-family: 'Habibi', serif;
    font-weight: bold;
    color: var(--preto);
    font-size: 18px;
    border: 2px solid var(--branco);
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    transition: 0.5s;
}
select:hover{
    border: 2px solid var(--rosaescuro);
}
hr{
    /* line */
    /* position */
    margin-top: 30px;
    /* config */
    opacity: 0.7;
    border: 2px solid var(--preto);
    transform: rotate(-0.04deg);
    background-color: var(--preto);
}
/* ------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------ */
#title {
    /* "A trajetoria da mulher na História" */
    /* config */
    margin: 6rem 6rem 4rem 6rem;
    /* letter config */
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--marromescuro);
}

.back-shadow-title{
    /* position */
    margin-top: -15.5rem;
    /* config*/
    opacity: 0.6;
    height: 15rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.timeline{
    /* position */
    position: relative;
    top: 6.5rem;
    /* config */
    width: 70rem;
    margin: auto;
    border: 2px solid #5B3E26;
    background-color: var(--marromescuro);
}
.box-time {
    /* position */
    position: relative;
    z-index:100;
    /* config */
    text-align: center;
}
.box-time img{
    /* config */
    height: 12.5rem;
    transition-duration: 0.5s;
}
.box-time img:hover {
    transform: scale(1.1);
    
}
#box1{
    animation: boxes-anim 0.8s ease-in-out 0.5s, boxes-anim 0.8s ease-in-out 3.2s;
}
#box1:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--amareloescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box2{
    animation: boxes-anim 0.8s ease-in-out 0.7s, boxes-anim 0.8s ease-in-out 3s;
}
#box2:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--amareloescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box3{
    animation: boxes-anim 0.8s ease-in-out 0.9s, boxes-anim 0.8s ease-in-out 2.8s;
}
#box3:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--rosaescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box4{
    animation: boxes-anim 0.8s ease-in-out 1.1s, boxes-anim 0.8s ease-in-out 2.6s;
}
#box4:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--rosaescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box5{
    animation: boxes-anim 0.8s ease-in-out 1.3s, boxes-anim 0.8s ease-in-out 2.4s;
}
#box5:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--rosaescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box6{
    animation: boxes-anim 0.8s ease-in-out 1.5s, boxes-anim 0.8s ease-in-out 2.2s;
}
#box6:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--roxoescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box7{
    animation: boxes-anim 0.8s ease-in-out 1.7s, boxes-anim 0.8s ease-in-out 2s;
}
#box7:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--roxoescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
.back-shadow{
    /* position */
    margin-top: -15.5rem;
    /* config*/
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    height: 20rem;
}
/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */
footer {
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.footer{
    position: relative;
    display: grid;
    justify-items: center;
    top: 2rem;
    height: 95px;
    text-decoration: none;

}
.text-icon{
    /* position */
    display: flex;
    z-index:100;
    /* config */
    align-items: center;
    padding: 15px;
}
#about-us {
    /* position */
    margin-right: 20px;
    /* config */
    font-family: 'Shadows Into Light';
    font-size: 32px;
    line-height: 144.5%;
    -webkit-text-stroke: 1px var(--marromclaro);
    color: var(--branco);
    text-shadow: 0.1em 0.1em 0.2em black
}
.references{
    z-index: 100;
    position: relative; 
    top: 1rem;
    transition: 0.5s;

}
.references:hover{
    transform: scale(1.1);
    animation: colors 3s ease-in-out infinite ;
}
#arrow1,#arrow2{
    animation: colors 3s ease-in-out infinite ;
}

.icon-network svg {
    /* position */
    margin-right: 10px;
    /* config */
    width: 40px;
    height: 40px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));


    transition: 0.25s;
}
.icon-network svg:hover {
    /* config */
    transform: scale(1.1);
}
#insta1{
    /* config */
    color: var(--amareloclaro);
}
#insta1:hover{
    color: var(--amareloescuro);
}

#git {
    /* config */
    color: var(--rosa);
}
#git:hover{
    color: var(--rosaescuro);
}

#insta2{
    /* config */
    color: var(--roxoclaro);

}
#insta2:hover{
    /* config */
    color: var(--roxoescuro);
}
.git, .insta, .linke {
    /* config */
    background-color: transparent;
    border: transparent;
    color: transparent;
}

@keyframes moviment-plant{
    from{
        transform: translate(-20px,-20px);
        z-index: 100;
    }
    to{
        z-index: 100;
    }
}
@keyframes boxes-anim{
    15%{
        transform: translatey(0px);  
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--amareloclaro) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    30%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--amareloescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
        mix-blend-mode: lighten;
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    45%{
        transform: translatey(-25px);
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--roxoclaro) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));  
    }
    60%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--roxoescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    75%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--rosa) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    }
    100%{
        box-sizing: border-box;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--rosaescuro) 52.36%, rgba(217, 217, 217, 0) 100%);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
        
    }
}

@keyframes colors{
    0%{ 
        color: var(--rosaescuro);
        -webkit-text-stroke: 1px var(--rosaescuro);

    }
    50%{
        color: var(--amareloescuro);
        -webkit-text-stroke: 1px var(--amareloescuro);

    }
    100%{
        color: var(--roxoescuro);
        -webkit-text-stroke: 1px var(--roxoescuro);

    }
}

@keyframes neon{
    100%{text-shadow: 0 0 0.4em var(--amareloclaro);}
}
@media screen and (max-width: 1745.45px) {
    .vignette{
        height:860px;
    }
    #top-shadowplant{
        width: 24%;
    }
    #bottom-shadowplant{
        top: rem;
        width: 18%;
    }
    #top-shadowtrack{
        top: -40rem;
    }
    #bottom-shadowtrack{
        /* config */
        width: 15%;
    }
    .header {
        height: 80px;
    }
    #name-web {
        top: -0.5rem;
        left: 62rem;
        font-size: 48px;
    }
    #label-topics{
        font-size: 30px;
    }
    .input-search {
        top: 1rem;
        right: 29rem;
    }
    select{
        width: 22.73%;
        height:  22.73%;
        padding: 7.27px 0px;
        font-size: 16.36px;
    }
    hr{
        margin-top: 27.27px;
        border: 1.82px solid var(--marromescuro);
    }
    .icon-search svg {
        width:51.82px;
        height: 51.82px;
    }
    #title {
        font-size: 59.09px;
        line-height: 63.64px;
    }
    .timeline{
        top: 5.5rem;
        width: 63.64rem;
        border: 1.82px solid #5B3E26;
    }
    .box-time img {
        height: 11rem;
    }
    #about-us{
        font-size: 28px;
    }
    .icon-network svg {
        width: 28px;
        height: 28px;
    }
    #back-shadow-footer{
        margin-top: 0rem;
    }
}
/* HD+ */
@media screen and (max-width: 1600px) {
    #top-shadowplant{
        width: 24%;
        top: 2rem;
        left: 65rem;
    }
    #bottom-shadowtrack{
        /* config */
        left: 65rem;
        top: -30rem;
    }
    .vignette{
        height: 790px;
    }
    .header{
        height: 50px;
    }
    #name-web {
        top: -1.2rem;
        left: 56rem;
        font-size: 43px;
    }
    #label-topics {
        font-size: 25.60px;
    }
    select {
        width: 20%;
        height:  20%;
        padding: 6.40px 0px;
        font-size: 14.40px;
    }
    .icon-search svg {
        width: 45px;
        height: 45px;
    }
    #title{
        font-size: 52px;
        line-height: 56px;
    }
    .back-shadow-title{
        margin-top: -12.40rem;
        height: 12rem;
    }
    .timeline {
        top: 5rem;
        width: 56rem;
        border: 1.60px solid #5B3E26;
    }
    .box-time img {
        height: 10rem;
    }
    .back-shadow{
        margin-top: -12.38rem;
        height: 16rem;
    }
    #about-us {
        font-size: 26px;
    }
    .icon-network svg {
        margin-right: 8px;
        width: 26px;
        height: 26px;
    }
   
}
/* HD */
@media screen and (max-width: 1280px) {
    #top-shadowplant{
        left: 57rem;
    }
    #bottom-shadowplant{
        top: 0.5rem;
    }
    #bottom-shadowtrack{
        /* config */
        left: 65rem;
        top: -29rem;
    }
    .vignette{
        height: 650px;
    }
    .header{
        height: 40px;
    }
    #name-web{
        left: 48rem;
        font-size: 30px;
    }
    #label-topics {
        font-size: 21.33px;
    }
    .input-search {
        /* position */
        right: 20rem;
    }
    select {
        width: 16.57%;
        height:  16.57%;
        padding: 5.33px 0px;
        font-size: 12px;
    }
    hr{
        margin-top: 20px;
        border: 1.33px solid var(--marromescuro);
    }
    .icon-search svg {
        width: 38px;
        height: 38px;
    }
    #title {
        font-size: 43.33px;
        line-height: 46.67px;
    }
    .back-shadow-title{
        height: 10rem;
        margin-top: -10.33rem;
    }
    .timeline {
        top: 4rem;
        width: 46.67rem;
        border: 1.33px solid #5B3E26;
    }
    .box-time img {
        height: 8rem;
    }
    .footer{
        top: 2rem;
    }
    #about-us {
        margin-right: 13.33px;
        font-size: 20px;
    }
    .icon-network svg {
        margin-right: 6.67px;
        width: 20px;
        height: 20px;
    }
}
@media screen and (min-width: 2133.33px) {
    #top-shadowplant{
        left: 100rem;
    }
    .vignette{
        height: 1100px;
    }
}
@media screen and (min-width: 2400px) {
    #top-shadowplant{
        left: 99.5rem;
    }
    .vignette{
        height: 1200px;
    }
}
