/* ------------------------------------------------------ */
/* CLICK HERE*/
/* ------------------------------------------------------ */
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 250rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* MIDIA */
/* ------------------------------------------------------ */

.line{
    position: relative;
    top: 30px;
}
.btn-midia{
    /* position */
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.label-btn{
    /* position */
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.nav-hidden-midia{
    /* position */
    display: none;
    /* config */
    width: 80rem;
    height: 15rem;
    justify-content: center;
}
/* ------------------------------------------------------ */
/* ESPECIFIC*/
/* ------------------------------------------------------ */
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
    /* config */
    width: 80rem;
    display: none;
}

@media screen and (max-width: 1280px){       
    .line{
        position: relative;
        top: 20px;
    }
    .btn-midia{
        position: relative;
        left: 2.5rem;
        top: -0.5rem;
    }
    #btn-midia{
        position: relative;
        top: -2px;
    }
    .label-btn{
        /* position */
        position: relative;
        top: -2rem;
    }
    .nav-hidden-midia{
        width: 60rem;
        height: 15rem;
    }
    #woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
        width: 60rem;
    }
}

@media screen and (max-width: 1000px) {
    .btn-midia{
        left: 0rem;
        top: 1rem;
    }
    #box-hidden-midia{
        position: relative;
        top: -41px;
        height: 25rem;
    }
    .nav-hidden-midia{
        display: none;
        width: 18rem;
        height: 25rem;
    }
    #woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
        width: 20rem;
        flex-direction: column;

    }
}