
/* ------------------------------------------------------ */
/* CLICK HERE */
/* ------------------------------------------------------ */
.click-here{
    /* position */
    position: relative;
    display: flex;
    z-index: 100;
    top: 59rem;
    left: 15rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* MAIN  */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* INTRO  */
/* ------------------------------------------------------ */
.img-subtitle{
    position: relative;
    top: 2rem;
    display: grid;
    flex-wrap: nowrap;
    width: 28rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#text-intro1{
    width: 35rem;
    padding:60px 0 0 0;
}
#img-subtitle-intro{
    margin: 30px;
}
#img-intro{
   width: 510px;
   /* height: 242px; */
   height: 342px;
   border-radius: 10px;
}
#subtitle-intro{
    font-size: 20px;
    text-align: center;
}
.btn-intro{
    /* button  */
    /* position */
    position: relative;
    top: -11rem;
    left: 5rem;
}
.input-btn{
    /* hidden checkbox */
    /* position */
    position: absolute;
    top: 14px;
}
/* ------------------------------------------------------ */
/* BOX WOMEN */
/* ------------------------------------------------------ */
.div-box-women{
    /* position */
    display: flex;
    /* config */
    width: 80rem;
    justify-content: space-around;
    margin: 3rem;
}
.box-women{
    /* config */
    transition-duration: 0.3s;
}
.box-women:hover{
    /* config */
    transform: scale(1.05);
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-yellow) 80.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 100px 100px rgba(0, 0, 0, 0.25));
}
#box-link {
    /* config */
    height: 15rem;
    width: 15rem;
}
/* ------------------------------------------------------ */
/* NATIVE*/
/* ------------------------------------------------------ */
#text-native3{
    margin-bottom: 90px;
}
.btn-native{
    /* position */
    display: flex;
    position: relative;
    top: -2.8rem;
    left: 1.5rem;
}
#btn-native{
    /* position */
    display: flex;
    position: relative;
    top: -0.4rem;
    left: 1rem;
}
#nav-hidden-native{
    height: 9rem;
}
/* ------------------------------------------------------ */
/* WHITE*/
/* ------------------------------------------------------ */
#img-subtitle-white{
    width: 80rem;
    justify-content: center;
}
#text-white3{
    margin-bottom: 80px;
}
.btn-white{
    /* position */
    display: flex;
    position: relative;
    top: -2.9rem;
    left: 1.5rem;
}
#btn-white{
    /* position */
    display: flex;
    position: relative;
    top: -0.5rem;
    left: 1rem;
}
#nav-hidden-white{
    height: 10rem;
}
/* ------------------------------------------------------ */
/* ESPECIFIC*/
/* ------------------------------------------------------ */
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}
