@import url(../purple.css);
/* ------------------------------------------------------ */
/* CLICKHERE  */
/* ------------------------------------------------------ */
.click-here{
    z-index: 100;
    display: flex;
    position: relative;
    top: 160rem;
    left: 13rem;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* worker  */
/* ------------------------------------------------------ */
.btn-worker{
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.label-btn{
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.line{
    position: relative;
    top: 30px;
}
/* ------------------------------------------------------ */
/* midia  */
/* ------------------------------------------------------ */
.btn-midia{
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.nav-hidden-midia{
    display: none;
    width: 80rem;
    height: 7rem;
    justify-content: center;
}
/* ------------------------------------------------------ */
/* mov orG */
/* ------------------------------------------------------ */
#timeline{
    height: 2855px;
}
/* ------------------------------------------------------ */
/*especfic*/
/* ------------------------------------------------------ */
#woman2,#woman3{
    width: 80rem;
    display: none;
}
/* ------------------------------------------------------ */
/* MOURNING  */
/* ------------------------------------------------------ */
#mourning{
    background:var(--black);
}
@media screen and (max-width: 1600px){ 
    .btn-worker{
        left: 2rem;
        top: -0.4rem;
    }
    .label-btn{
        top: -2rem;
    }
    .label-btn::before{
        border-left: 25px solid var(--light-purple);
    }
    .input-btn:checked + .label-btn::before{
        border-top: 25px solid var(--dark-purple);
    }
    .line{
        position: relative;
        top: 24px;
    }
    .btn-midia{
        left: 2rem;
        top: -0.4rem;
    }
    .nav-hidden-midia{
        width: 64rem;
        height: 6.60rem;
    }
    #timeline{
        height: 2000px;
    }
   #btn-left{
        border-left: 25px solid var(--light-purple);
    }
    #btn-right{
        border-right: 25px solid var(--light-purple);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-purple);
    }
    #btn-right:hover{
        border-right: 25px solid var(--dark-purple);
    }
    #woman2,#woman3{
        width: 64rem;
    }
    
}
@media screen and (max-width: 1280px) {
    .btn-worker, .btn-midia{
        left: 1.5rem;
        top: -0.2rem;
    }
    .label-btn{
        top: -2.3rem;
    }
    .label-btn::before{
        border-left: 20px solid var(--light-purple);
    }
    .input-btn:checked + .label-btn::before{
        border-top: 20px solid var(--dark-purple);
    }
    .line{
        top: 20px;
    }
    .nav-hidden-midia{
        width: 60rem;    
    }
    #timeline{
        height: 2050px;
    }
    
    #btn-left{
        border-left: 20px solid var(--light-purple);
    }
    #btn-right{
        border-right: 20px solid var(--light-purple);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-purple);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-purple);
    }
    #woman2,#woman3{
        /* config */
        width: 60rem;
    }
}
@media screen and (max-width: 500px) {
    .btn-worker{
        left: 1rem;
        top: 1.2rem;
    }
    .btn-midia{
        left: 1rem;
        top: 1.2rem;
    }
    #box-hidden-midia{
        height:10rem;

    }
    #nav-hidden-midia{
        height: 12rem;
    }
    #timeline{
        height: 3455px;
    }
    #woman2,#woman3{
        /* config */
        width: 20rem;
        flex-direction: column;
        display: none;
    }
}