@import url(../pink.css);


/* ------------------------------------------------------ */
/*CLICK HERE */
/* ------------------------------------------------------ */
.click-here{
    z-index: 100;
    display: flex;
    position: relative;
    top: 34rem;
    left: 12.5rem;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
#timeline{
    height: 1000px;
}
/* ------------------------------------------------------ */
/* WOMANespecific */
/* ------------------------------------------------------ */
#woman2,#woman3,
#woman4,#woman5,
#woman6,#woman7,
#woman8,#woman9,
#woman10,#woman11,
#woman12,#woman13,
#woman14,#woman15,
#woman16,#woman16,
#woman17,#woman18,#woman19{
    width: 80rem;
    display: none;
}
@media screen and (max-width: 1600px){ 
    #timeline{
        height: 720px;
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13,
    #woman14,#woman15,
    #woman16,#woman16,
    #woman17,#woman18,#woman19{
        width: 64rem;
    }
}
@media screen and (max-width: 1280px) {
    #timeline{
        height: 700px;
    }
    .colorline{
        border:  solid var(--dark-pink);
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13,
    #woman14,#woman15,
    #woman16,#woman16,
    #woman17,#woman18,#woman19{
        width: 60rem;
    }
}
@media screen and (max-width: 1000px) {
    #timeline{
        height:890px;
    }
    .colorline{
        border:  solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13,
    #woman14,#woman15,
    #woman16,#woman16,
    #woman17,#woman18,#woman19{
        width: 20rem;
        flex-direction: column;

    }
}
