/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}

/* ------------------------------------------------------ */
/*CLICK HERE */
/* ------------------------------------------------------ */
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 34rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--dark-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
#timeline{
    height: 900px;
}
.colorline{
    border:  solid var(--dark-pink);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}
/* ------------------------------------------------------ */
/* WOMANespecific */
/* ------------------------------------------------------ */
#btn-left{
    border-left: 25px solid var(--light-pink);
}
#btn-right{
    border-right: 25px solid var(--light-pink);
}
#btn-left:hover{
    border-left: 25px solid var(--dark-pink);
}
#btn-right:hover{
    border-right: 25px solid var(--dark-pink);
}
#woman2,#woman3,
#woman4,#woman5,
#woman6,#woman7,
#woman8,#woman9,
#woman10,#woman11,
#woman12,#woman13{
    /* config */
    width: 80rem;
    display: none;
}

@media screen and (max-width: 1280px) {
    #timeline{
        height: 700px;
    }
    .colorline{
        border:  solid var(--dark-pink);
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13{
        width: 60rem;
    }
}
@media screen and (max-width: 1000px) {
    #timeline{
        height:890px;
    }
    .colorline{
        border:  solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13{
        width: 20rem;
        flex-direction: column;

    }
}
