/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}

/* ------------------------------------------------------ */
/*CLICK HERE */
/* ------------------------------------------------------ */
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 34rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--dark-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
#timeline{
    height: 1000px;
}
#colorline1{
    /* position */
    position: relative;
    top: -6rem;
    left: 15.30rem;
}
#num-text1{
    /* position */
    position: relative;
    top: 2rem;
    left: 17rem;
}
#colorline2{
    /* position */
    position: relative;
    top:13rem;
    left: -16.5rem;
}
#num-text2{
    /* position */
    position: relative;
    text-align: right;
    top: -1rem;
    left: -18.5rem;
}
#colorline3{
    /* position */
    position: relative;
    top:31rem;
    left: 14.8rem;
}
#num-text3{
    /* position */
    position: relative;
    top: -4rem;
    left: 17rem;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}
/* ------------------------------------------------------ */
/* WOMANespecific */
/* ------------------------------------------------------ */
#btn-left{
    border-left: 25px solid var(--light-pink);
}
#btn-right{
    border-right: 25px solid var(--light-pink);
}
#btn-left:hover{
    border-left: 25px solid var(--dark-pink);
}
#btn-right:hover{
    border-right: 25px solid var(--dark-pink);
}
#woman2,#woman3,
#woman4,#woman5,
#woman6,#woman7,
#woman8,#woman9,
#woman10,#woman11,
#woman12,#woman13{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}

@media screen and (max-width: 1280px) {
    #colorline1{
        left: 13rem;
    }
    #num-text1{
        top: 1rem;
        left: 12rem;
    }
    #colorline2{
        left: -13.7rem;
    }
    #num-text2{
        top: -1.5rem;
        left: -12.5rem;
    }
    #colorline3{
        left: 12.5rem;
    }
    #num-text3{
        left: 12rem;
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11,
    #woman12,#woman13{
        width: 60rem;
    }
}