
@import url(../topics/purple.css);
/* ------------------------------------------------------ */
/*MOV ORG*/
/* ------------------------------------------------------ */
#timeline{
    height: 1300px;
}
/* ------------------------------------------------------ */
/*especfic*/
/* ------------------------------------------------------ */
#woman2,#woman3,
#woman4,#woman5,
#woman6,#woman7,
#woman8,#woman9{
    width: 80rem;
    display: none;
}
@media screen and (max-width: 1600px){ 
    #timeline{
        height: 1040px;
    }
    #btn-left{
        border-left: 20px solid var(--light-purple);
    }
    #btn-right{
        border-right: 20px solid var(--light-purple);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-purple);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-purple);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9{
        width: 64rem;
    }
}
@media screen and (max-width: 1280px) {
    #timeline{
        height: 1000px;
    }
    #btn-left{
        border-left: 20px solid var(--light-purple);
    }
    #btn-right{
        border-right: 20px solid var(--light-purple);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-purple);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-purple);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9{
        /* config */
        width: 60rem;
    }
}
@media screen and (max-width: 1000px) {
    #timeline{
        height: 1550px;
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9{
        /* config */
        width: 20rem;
        flex-direction: column;
        display: none;
    }
}