

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-purple);
    -webkit-text-stroke: 2px var(--dark-purple);
}
.icon-home svg{
    color: var(--dark-purple);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-purple);
}
.title-box{
    color: var(--light-purple);
}
.title2{
    color: var(--dark-purple);
    -webkit-text-stroke: 1px var(--dark-purple);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);    
}
/* ------------------------------------------------------ */
/*MOV ORG*/
/* ------------------------------------------------------ */
#timeline{
    height: 1300px;
}
/* ------------------------------------------------------ */
/*especfic*/
/* ------------------------------------------------------ */
#btn-left{
    border-left: 25px solid var(--light-purple);
}
#btn-right{
    border-right: 25px solid var(--light-purple);
}
#btn-left:hover{
    border-left: 25px solid var(--dark-purple);
}
#btn-right:hover{
    border-right: 25px solid var(--dark-purple);
}
#woman2,#woman3{
    /* config */
    width: 80rem;
    display: none;
}

@media screen and (max-width: 1280px) {
    #timeline{
        height: 1000px;
    }
    #btn-left{
        border-left: 20px solid var(--light-purple);
    }
    #btn-right{
        border-right: 20px solid var(--light-purple);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-purple);
    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-purple);
    }
    #woman2,#woman3{
        /* config */
        width: 60rem;
    }
}
@media screen and (max-width: 1000px) {
    #timeline{
        height: 1550px;
    }
    #woman2,#woman3{
        /* config */
        width: 20rem;
        flex-direction: column;
        display: none;
    }
}