/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}

/* ------------------------------------------------------ */
/* CLICK HERE*/
/* ------------------------------------------------------ */
.click-here{
    /* "clique para ler mais" + png */
    /* position */
    z-index: 100;
    display: flex;
    position: relative;
    top: 33rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--dark-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}
/* ------------------------------------------------------ */
/* INTRO */
/* ------------------------------------------------------ */
.line{
    position: relative;
    top: 30px;
}
.btn-intro{
    /* position */
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
.label-btn{
    /* hidden checkbox */
    /* position */
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
.label-btn::before{
    border-left: 25px solid var(--light-pink);
}
.input-btn:checked + .label-btn::before{
    border-top: 25px solid var(--dark-pink);
}
/* ------------------------------------------------------ */
/* worker */
/* ------------------------------------------------------ */

.btn-worker{
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}

/* ------------------------------------------------------ */
/* mov and org */
/* ------------------------------------------------------ */

#timeline{
    height: 1000px;
}
.colorline{
    border: 3px solid var(--dark-pink);
}
#colorline1{
    /* position */
    position: relative;
    top: -6rem;
    left: 15.30rem;
}
#num-text1{
    /* position */
    position: relative;
    top: 2rem;
    left: 17rem;
}
#colorline2{
    /* position */
    position: relative;
    top:5rem;
    left: -16.5rem;
}
#num-text2{
    /* position */
    position: relative;
    text-align: right;
    top: -1rem;
    left: -18.5rem;
}
#colorline3{
    /* position */
    position: relative;
    top:21rem;
    left: 14.8rem;
}
#num-text3{
    /* position */
    position: relative;
    top: -4rem;
    left: 17rem;
}
#colorline4{
    /* position */
    position: relative;
    top:35rem;
    left: -17rem;
}
#num-text4{
    /* position */
    position: relative;
    text-align: right;
    top: -6rem;
    left: -18.5rem;
}
/* ------------------------------------------------------ */
/* especific */
/* ------------------------------------------------------ */

#btn-right{
    border-right: 25px solid var(--light-pink);
}
#btn-left{
    border-left: 25px solid var(--light-pink);

}
#btn-right:hover{
    border-right: 25px solid var(--dark-pink);
}
#btn-left:hover{
    border-left: 25px solid var(--dark-pink);
}
#title-woman{
    color:var(--light-yellow);
}
#woman2,#woman3,#woman4,#woman5,#woman6,#woman7,#woman8{
    /* config */
    width: 80rem;
    flex-wrap: wrap;
    display: none;
}
@media screen and (max-width: 1280px){       
    .line{
        position: relative;
        top: 25px;
    }
    .btn-intro{
        top: 0.1rem;
    }
    .label-btn{
        position: relative;
        top: -2.3rem;
    }
    .label-btn::before{
        border-left: 20px solid var(--light-pink);
    }
    .input-btn:checked + .label-btn::before{
        border-top: 20px solid var(--dark-pink);
    }
    .btn-worker{
        top: 0.1rem;    
    }
    #timeline{
        height: 1000px;
    }
    .colorline{
        border:  solid var(--dark-pink);
    }
    #colorline1{
        left: 13rem;
    }
    #num-text1{
        top: 1rem;
        left: 11.5rem;
    }
    #colorline2{
        left: -13.8rem;
    }
    #num-text2{
        top: -0.5rem;
        left: -12.5rem;
    }
    #colorline3{
        left: 12.5rem;
    }
    #num-text3{
        top: -2rem;
        left: 11.5rem;
    }
    #colorline4{
        left: -14.1rem;
    }
    #num-text4{
        top: -2rem;
        left: -12.5rem;
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);

    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,#woman4,#woman5,#woman6,#woman7,#woman8{
        width: 60rem;
    }
}
@media screen and (max-width: 1000px){
    .btn-intro{
        left: .5rem;
        top: 1.5rem;
    }
    .label-btn{
        top: -2.4rem;
    }
    .btn-worker{
        left: .5rem;
            top: 1.5rem;
    }
    .timeline-text{
       height: 100px;
    }
    #timeline{
        height: 1250px;
    }
    #colorline1{
        top: -0.5rem;
        left: 3.5rem;
    }
    #num-text1{
        top: -17.5rem;
        left: 4rem;
    }
    #colorline2{
        top:13rem;
        left: -4.5rem;
    }
    #num-text2{
        top: -15.5rem;
        left: -5.5rem;
    }
    #colorline3{
        top:38rem;
        left: 2.8rem;
    }
    #num-text3{
        top: -15.5rem;
        left: 4rem;
    }
    #colorline4{
        top:54rem;
        left:-5.5rem;
    }
    #num-text4{
        top: -15.5rem;
        left: -5.5rem;
    }
    #woman2,#woman3,#woman4,#woman5,#woman6,#woman7,#woman8{
        /* config */
        width: 20rem;
        flex-wrap: wrap;
        display: none;
    }
}
