@import url(../pink.css);
/* ------------------------------------------------------ */
/* CLICK HERE*/
/* ------------------------------------------------------ */
.click-here{
    z-index: 100;
    display: flex;
    position: relative;
    top: 33rem;
    left: 12.5rem;
    /* config */
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    height: 0;   
    transform: rotate(-10deg);
}
/* ------------------------------------------------------ */
/* INTRO */
/* ------------------------------------------------------ */
.line{
    position: relative;
    top: 30px;
}
.btn-intro{
    position: relative;
    top: -0.7rem;
    left: 1.5rem;
}
.label-btn{
    position: relative;
    top: -2.3rem;
    transition-duration: 0.5s;
}
/* ------------------------------------------------------ */
/* worker */
/* ------------------------------------------------------ */
.btn-worker{
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
}
/* ------------------------------------------------------ */
/* mov and org */
/* ------------------------------------------------------ */
#timeline{
    height: 1455px;
}
/* ------------------------------------------------------ */
/* especific */
/* ------------------------------------------------------ */
#woman2,#woman3,
#woman4,#woman5,
#woman6,#woman7,
#woman8,#woman9,
#woman10,#woman11
,#woman12{
    /* config */
    width: 80rem;
    display: none;
}
@media screen and (max-width: 1600px){ 
    .line{
        top: 24px;
    }
    .btn-intro{
        left: 2.5rem;
        top: -0.5rem;
    }
    .label-btn{
        top: -2rem;
    }
    .label-btn::before{
        border-left: 25px solid var(--light-pink);
    }
    .input-btn:checked + .label-btn::before{
        border-top: 25px solid var(--dark-pink);
    }
    .btn-worker{
        position: relative;
        left: 2rem;
        top: -0.4rem;
    }
    #timeline{
        height: 1000px;
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);

    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11
    ,#woman12{
        width: 64rem;
    }
}
@media screen and (max-width: 1280px){       
    .line{
        position: relative;
        top: 25px;
    }
    .btn-intro{
        top: 0.1rem;
    }
    .label-btn{
        position: relative;
        top: -2.3rem;
    }
    .label-btn::before{
        border-left: 20px solid var(--light-pink);
    }
    .input-btn:checked + .label-btn::before{
        border-top: 20px solid var(--dark-pink);
    }
    .btn-worker{
        top: 0.1rem;    
    }
    #timeline{
        height: 1000px;
    }
    #btn-right{
        border-right: 20px solid var(--light-pink);
    }
    #btn-left{
        border-left: 20px solid var(--light-pink);

    }
    #btn-right:hover{
        border-right: 20px solid var(--dark-pink);
    }
    #btn-left:hover{
        border-left: 20px solid var(--dark-pink);
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11
    ,#woman12{
        width: 60rem;
    }
}
@media screen and (max-width: 1000px){
    .btn-intro{
        left: .5rem;
        top: 1.5rem;
    }
    .label-btn{
        top: -2.4rem;
    }
    .btn-worker{
        left: .5rem;
            top: 1.5rem;
    }
    #timeline{
        height: 1325px;
    }
    #woman2,#woman3,
    #woman4,#woman5,
    #woman6,#woman7,
    #woman8,#woman9,
    #woman10,#woman11
    ,#woman12{
        /* config */
        width: 20rem;
    }
}
