@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

/* font-family: 'Shadows Into Light', cursive; */


/* zera algumas coisas de css */

* {
    box-sizing: border-box;
}


/* variaveis das cores */

:root {
    --branco: #faf5f0;
    --marromclaro: #e8dacf;
    --marromintermediario: #d4bda7;
    --amareloclaro: #f8ab48;
    --amareloescuro: #f79d25;
    --rosaclaro: #f63876;
    --rosa: #f2165f;
    --roxoescuro: #66308d;
    --roxoclaro: #7c4f9c;
    --marromescuro: #5b3e26;
    --preto: #201d18;
}


/* imagem de fundo */

body {
    margin: 0;
    background-image: url("assets/fundo.png");
}

.container {
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: flex-start;
}


/* titulo da pagina  */

#titulo {
    /* posicao */
    position: relative;
    top: 1rem;
    width: 150%;
    left: 70rem;
    /* configuração da letra */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 6px;
    /* cor */
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
}


/* escrita ao lado da seleçao "topico especifico" */

#label-topico {
    /* posição */
    margin-right: 5px;
    /* configuração da letra */
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* cor*/
    color: var(--marromclaro);
    -webkit-text-stroke: 0.5px var(--marromclaro);
}

.input-pesquisa {
    z-index:1000;
    position: relative;
    top: 2rem;
    right: 35rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

select {
    /* posição */
    position: sticky;
    display: flex;
    justify-content: left;
    /* configuraçao da seleção */
    text-align: center;
    background-color: var(--marromclaro);
    opacity: 0.5;
    color: var(--marromescuro);
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    width: 25%;
    height: 25%;
    border: 2px solid var(--marromintermediario);
    border-radius: 10px;
    padding: 8px 16px;
}

hr {
    margin-top: 30px;
    /* cor*/
    border: 2px solid var(--marromescuro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.04deg);
}


/* nome do tcc */

#titulo2 {
    /* posição */
    /* configuração da letra */
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    /* cor*/
    color: var(--marromescuro);
    -webkit-text-stroke: 1px var(--preto);
    border: px solid var(--preto);
}

.fundo-sombra-titulo{
    display: flex;
    position: relative;
    opacity: 0.5;
    height: 15rem;
    width: auto;
    margin-top: -15.5rem;
    /* configuração */
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* linha do tempo  */

.linha-tempo {
    /* posiçao */
    position: relative;
    top: 6.5rem;
    margin: auto;
    /* configuraçoes */
    width: 70rem;
    /* linha */
    border: 2px solid #5B3E26;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* caixas onde esta escrito as epocas  */

.caixas-epocas {
    /* posiçao */
    position: relative;
    text-align: center;
    /* configuraçao */
    z-index:1000;
    
}


/* caixas onde esta escrito as epocas  */
.caixas-epocas img {
    /* configuraçao */
    height: 13rem;
}

/* configuração da sombra */
.fundo-sombra{
    display: flex;
    position: relative;
    opacity: 0.8;
    height: 20rem;
    width: auto;
    margin-top: -15.5rem;
    /* configuração */
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.footer {
    display: flex;
    justify-content: center;
}

.rodape {
    /* posição */
    padding: 15px;
    position: relative;
    top: 9rem;
    display: flex;
    align-items: center;
    z-index:1000;
}


/* icone de pesquisa feather icon */

.icon-pesquisa svg {
    width: 57px;
    height: 57px;
    color: var(--marromclaro);
}


/* texto sobrenos */

#sobre-nos {
    margin-right: 20px;
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 144.5%;
    /* or 36px */
    color: var(--marromclaro);
    -webkit-text-stroke: 1px var(--marromclaro);
    color: #E8DACF;
}


/* icones de redes */

.icon-redes svg {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    color: var(--marromclaro);
}


/* configurando botão */

.git,
.insta,
.linke {
    background-color: transparent;
    border: transparent;
    color: transparent;
}

/* conversar com o professor sobre  */
.vinheta{
    margin-top: -50rem;
    position: relative;
    display: flex;
    /* conversar com o professor sobre isso  */
    height: 975px; 
    width: auto;
    background-image: url(assets/vinheta.png);
    background-size: 100%;
    opacity: 0.6;
}

/* <div class="fundo">
            <!-- sombra plantas  -->
            <div class="sombra1">
                <img src="sombra_planta1.png" alt="sombra_planta1"></a>
            </div>
            <div class="sombra2">
                <img src="sombra_planta2.png" alt="sombra_planta2"></a>
            </div>
            <!-- pegada fundo -->
            <div class="pegada">
                <img src="pegada.png" alt="pegada1"></a>
            </div>
            <div class="pegada2">
                <img src="pegada.png" alt="pegada2"></a>
            </div>
            <!-- sombrafundo -->
            <div class="sombrafundo">
                <img src="sombra_fundo.png" alt="sombra_fundo"></a>
            </div>
</div> */
