@import url(../config.css);
@import url(../animation.css);
/* ------------------------------------------------------ */
/* section shadows */
/* ------------------------------------------------------ */
.vignette{
    position: fixed;
    z-index: 100;
    background-image: url(../../assets/background/vignette-mobile.png);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    opacity: 0.8;
}
.vignette2{
    position: fixed;
    z-index: 100;
    background-image: url(../../assets/background/filter-mobile.png);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    opacity: 0.9;
    mix-blend-mode: multiply;
}
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
header{
    background: rgba(72, 51, 34, 0.6);
    box-shadow: 0px 2px 20px #483322;
}
.header{
    position: relative;
    top:1rem;
    display:flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 30px;
}
#name-web{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
    left: 0;
    font-family: var(--web);
    font-size: 18px;
    color: var(--mid-brown);
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#name-web:hover{
    transform: scale(1.1);
}
.references{
    text-decoration: none;
    z-index: 100;
    font-size: 18px;
    position: relative; 
    transition: 0.3s;
}
.references:hover{
    transform: scale(1.05);
    animation: colors 3s ease-in-out infinite ;
}
#arrow{
    animation: colors 3s ease-in-out infinite ;
}
hr{
    /* line */
    /* position */
    margin-top: 30px;
    /* config */
    opacity: 0.7;
    border: 2px solid var(--black);
    transform: rotate(-0.04deg);
    background-color: var(--black);
}
/* ------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------ */
#title {
    /* "A trajetoria da mulher na História" */
    /* config */
    z-index: 100;
    margin: 3rem 1rem 3rem 1rem;
    /* letter config */
    text-align: center;
    font-family: var(--title);
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: var(--black);
    -webkit-text-stroke: 1px var(--black);
    text-shadow: 0 0 1.0em var(--dark-brown);
}
.timeline{
    /* position */
    position: relative;
    top: 3.2rem;
    /* config */
    width: 15rem;
    margin: auto;
    border: 1.5px solid #5B3E26;
    background-color: var(--dark-brown);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}
#timeline-id{
    display: flex;
    position: relative;
    top: 9.5rem;
}
.box-time {
    /* position */
    position: relative;
    z-index:100;
    /* config */
    text-align: center;
}
.box-time img{
    /* config */
    height: 6rem;
    transition-duration: 0.2s;
}
.box-time img:hover {
    transform: scale(1.05);
    
}
#box1{
    animation: boxes-anim 0.8s ease-in-out 1.5s, boxes-anim 0.8s ease-in-out 4.2s;
}
#box1:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-yellow) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box2{
    animation: boxes-anim 0.8s ease-in-out 1.7s, boxes-anim 0.8s ease-in-out 4s;
}
#box2:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-yellow) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box3{
    animation: boxes-anim 0.8s ease-in-out 1.9s, boxes-anim 0.8s ease-in-out 3.8s;
}
#box3:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-pink) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box4{
    animation: boxes-anim 0.8s ease-in-out 2.1s, boxes-anim 0.8s ease-in-out 3.6s;
}
#box4:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-pink) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box5{
    animation: boxes-anim 0.8s ease-in-out 2.3s, boxes-anim 0.8s ease-in-out 3.4s;
}
#box5:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--light-pink) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box6{
    animation: boxes-anim 0.8s ease-in-out 2.5s, boxes-anim 0.8s ease-in-out 3.2s;
}
#box6:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-purple) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
#box7{
    animation: boxes-anim 0.8s ease-in-out 2.7s, boxes-anim 0.8s ease-in-out 3s;
}
#box7:hover{
    /* back shadow */
    box-sizing: border-box;
    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%,var(--dark-purple) 52.36%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
.back-shadow{
    /* position */
    margin-top: -15.5rem;
    /* config*/
    background: radial-gradient(50% 50% at 50% 50%, rgba(6, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    height: 20rem;
}
/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */
footer {
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.footer{
    position: relative;
    display: grid;
    justify-items: center;
    height: 95px;
    text-decoration: none;

}
.text-icon{
    /* position */
    display: flex;
    z-index:100;
    /* config */
    align-items: center;
    padding: 15px;
}
#about-us {
    /* position */
    margin-right: 20px;
    /* config */
    font-family: var(--web);
    font-size: 18px;
    line-height: 144.5%;
    -webkit-text-stroke: 1px var(--light-brown);
    color: var(--white-white);
    text-shadow: 0.1em 0.10em 0.10em black
}
.icon-network svg {
    /* position */
    margin-right: 10px;
    /* config */
    width: 20px;
    height: 20px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));


    transition: 0.25s;
}
.icon-network svg:hover {
    /* config */
    transform: scale(1.1);
}
#insta1{
    /* config */
    color: var(--light-yellow);
}
#insta1:hover{
    color: var(--dark-yellow);
}

#git {
    /* config */
    color: var(--light-pink);
}
#git:hover{
    color: var(--dark-pink);
}

#insta2{
    /* config */
    color: var(--light-purple2);

}
#insta2:hover{
    /* config */
    color: var(--dark-purple);
}
.git, .insta, .linke {
    /* config */
    background-color: transparent;
    border: transparent;
    color: transparent;
}
