

@media screen and (max-width: 1745.45px) {
    #name-web{
        font-size: 40px;
    }
    #label-topics{
        font-size: 25px;
    }
    select{
        width: 15rem;
        height:  .5rem;
        padding: 7.27px 0px;
        font-size: 16.36px;
    }
    hr{
        margin-top: 27.27px;
        border: 1.82px solid var(--dark-brown);
    }
    .icon-search svg {
        width:51.82px;
        height: 51.82px;
    }
    #title {
        font-size: 59.09px;
        line-height: 63.64px;
    }
    .timeline{
        top: 5.5rem;
        width: 63.64rem;
        border: 1.82px solid #5B3E26;
    }
    .box-time img {
        height: 10.5rem;
    }
    #about-us{
        font-size: 28px;
    }
    .icon-network svg {
        width: 28px;
        height: 28px;
    }
    #back-shadow-footer{
        margin-top: 0rem;
    }
}
/* HD+ */
@media screen and (max-width: 1600px) {
    .header{
        height: 50px;
    }
    select {
        width: 15rem;
        height:   1.2rem;
        padding: 6.40px 0px;
        font-size: 14.40px;
    }
    .icon-search svg {
        width: 40px;
        height: 40px;
    }
    #title{
        font-size: 48px;
        line-height: 48px;
    }
    .back-shadow-title{
        margin-top: -12.40rem;
        height: 12rem;
    }
    .timeline {
        top: 5.5rem;
        width: 59rem;
        border: 2px solid #5B3E26;
    }
    .box-time img {
        height: 10rem;
    }
    .back-shadow{
        margin-top: -12.38rem;
        height: 16rem;
    }
    .footer{
        top: -1rem;
    }
    #about-us {
        font-size: 25px;
    }
    .icon-network svg {
        margin-right: 8px;
        width: 26px;
        height: 26px;
    }
   
}
/* HD */
@media screen and (max-width: 1280px) {
    .header{
        height: 50px;
    }
    #name-web{
        font-size: 30px;
    }
    #label-topics{
        font-size: 20px;
    }
    select {
        width: 10rem;
        height:  1rem;
        padding: 5.33px 0px;
        font-size: 12px;
    }
    hr{
        margin-top: 20px;
        border: 1.33px solid var(--dark-brown);
    }
    .icon-search svg {
        width: 25px;
        height:  25px;
    }
    #title {
        font-size: 40px;
        line-height:40px;
    }
    .back-shadow-title{
        height: 9rem;
        margin-top: -10.33rem;
    }
    .timeline {
        top: 4rem;
        width: 46.67rem;
        border: 1.33px solid #5B3E26;
    }
    .box-time img {
        height: 7.5rem;
    }
    footer{
        position: relative;
        top: -2rem;
    }
    #about-us {
        margin-right: 13.33px;
        font-size: 20px;
    }
    .icon-network svg {
        margin-right: 6.67px;
        width: 20px;
        height: 20px;
    }
}