@import url(pink.css);
/* ------------------------------------------------------ */
/*TIMELINE */
/* ------------------------------------------------------ */

.timeline-div{
    display: grid;
}
#timeline{
    height:750px;
}
.colorline{
    border: 3px solid var(--dark-pink);
}

#timeline2{
    /* config */
    z-index: 100; 
    height: 600px;
    border: 2px solid var(--white-white);
    border-radius: 5px;
}
#timeline3{
    /* config */
    z-index: 100; 
    height: 1000px;
    border: 2px solid var(--white-white);
    border-radius: 5px;
}
@media screen and (max-width: 1280px){
    #timeline{
        height:600px;
    }
    #timeline2{
        height: 575px;

    }
    #timeline3{
        height: 800px;

    }
}
@media screen and (max-width: 1000px){
    #timeline{
        height:650px;
    }
    #timeline2{
        height: 650px;

    }
    #timeline3{
        height: 1250px;

    }
}