
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}