/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-purple);
    -webkit-text-stroke: 1px var(--dark-purple);
}
.icon-home svg{
    color: var(--dark-purple);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-purple);
}
.title-box{
    color: var(--light-purple);
}
.title2{
    color: var(--dark-purple);
    -webkit-text-stroke: 1px var(--dark-purple);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);    
}
#btn-left{
    border-left: 30px solid var(--light-purple);
}
#btn-right{
    border-right: 30px solid var(--light-purple);
}
#btn-left:hover{
    border-left: 30px solid var(--dark-purple);
}
#btn-right:hover{
    border-right: 30px solid var(--dark-purple);
}
.label-btn::before{
    border-left: 30px solid var(--light-purple);
}
.input-btn:checked + .label-btn::before{
    border-top: 30px solid var(--dark-purple);
}

.box-color{
    background:var(--dark-pink);
}