
#timeline{
    height: 650px;
}
#timeline2{
    height: 350px;
    z-index: 100;
    border: 3px solid var(--white-white);
    border-radius: 10px;
}

@media screen and (max-width: 1280px){
    #timeline{
        height:500px;
    }
    #timeline2{
        height: 200px;
        border: 2px solid var(--white-white);

    }
}
@media screen and (max-width: 1000px){
    #timeline{
        height:650px;
    }
    #timeline2{
        height: 300px;

    }

}