/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);
}
.icon-home svg{
    color: var(--dark-pink);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-pink);
}
.title-box{
    color: var(--light-pink);
}
.title2{
    color: var(--dark-pink);
    -webkit-text-stroke: 1px var(--dark-pink);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-pink);    
}
/* ------------------------------------------------------ */
/*TIMELINE */
/* ------------------------------------------------------ */
.timeline-div{
    /* config */
    display: flex;
    justify-content: center;
    width: 80rem;
}
.circle-line{
    width: 80rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
#circle-line{
    position: relative;
    width: 0.7%;
    left: -0.5rem;
}
.num-years{
    /* config */
    width: 116px;
    height: 30px;
    font-family: var(--title);
    font-size: 35px;
    color:var(--dark-yellow);
}
.timeline-text{
    display: grid;
    justify-content: center;
    width: 80rem;
    margin-top: -60rem;
}
.num-years,.text-years{
    width: 500px;
}
.text-years{
    font-size: 30x;
}
#timeline{
    /* config */
    z-index: 100; 
    height: 600px;
    border: 3px solid var(--white-white);
}
#timeline2{
    /* config */
    z-index: 100; 
    height: 400px;
    border: 3px solid var(--white-white);
}
.colorline{
    /* config */
    height: 500.01px;
    border: 3px solid var(--dark-pink);
    transform: rotate(-90deg);
}
#colorline1{
    /* position */
    position: relative;
    top: -6rem;
    left: 15.30rem;
}
#num-text1{
    /* position */
    position: absolute;
    top: 21rem;
    left: 41rem;
}