@import url(pink.css);
/* ------------------------------------------------------ */
/*TIMELINE */
/* ------------------------------------------------------ */
#timeline{
    height: 550px;
}
@media screen and (max-width: 1600px){
    #timeline{
        height:500px;
    }
}
@media screen and (max-width: 1280px){
    #timeline{
        height:500px;
    }
}
@media screen and (max-width: 1000px){
    #timeline{
        height:650px;
    }
}