/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
#home{
    color: var(--dark-purple);
    -webkit-text-stroke: 1px var(--dark-purple);
}
.icon-home svg{
    color: var(--dark-purple);
}
/* ------------------------------------------------------ */
/* main */
/* ------------------------------------------------------ */
.circle{
    background: var(--light-purple);
}
.title-box{
    color: var(--light-purple);
}
.title2{
    color: var(--dark-purple);
    -webkit-text-stroke: 1px var(--dark-purple);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);    
}